# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Connected by data
email: jeni@connectedbydata.org
description: >- # this means to ignore newlines until "baseurl:"
  Website of the Connected by data initiative, led by Jeni Tennison.
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: ConnectedByData
github_username:  JeniT
include_plausible: true
future: true

collections:
  problems:
    output: true
    permalink: :collection/:name
  solutions:
    output: true
    permalink: :collection/:name
  actions:
    output: true
    permalink: :collection/:name
  team:
    output: true
    permalink: :collection/:name
  jobs:
    output: true
    permalink: :collection/:name
  literature:
    output: false
  events:
    output: true
    permalink: :collection/:name
  resources:
    output: true
    permalink: :collection/:name
  funders:
    output: false
  associates:
    output: true
    permalink: :collection/:name
  fellows:
    output: true
    permalink: :collection/:name
  projects:
    output: true
    permalink: :collection/:name
  policies:
    output: true
    permalink: :collection/:name
  pdg-cases:
    output: true
    permalink: cases/:name
  pdg-components:
    output: false
  pdg-locations:
    output: false
  pdg-methods:
    output: true
    permalink: cases/methods/:name
  pdg-organisations:
    output: false
  pdg-sources:
    output: false

defaults:
  - scope:
      path: ''
    values:
      layout: 'page'
  - scope:
      path: ''
      type: 'pdg-cases'
    values:
      layout: 'case'
  - scope:
      path: ''
      type: 'pdg-methods'
    values:
      layout: 'method'
  - scope:
      path: ''
      type: 'policies'
    values:
      layout: 'policy'

excerpt_separator: <!--more-->
permalink: /:categories/:year/:month/:day/:slug

background-colors:
  - dark-green
  - darker-green
  - darkest-green

background-graphics:
  - circles
  - cube
  - imperfect-circle
  - large-dots
  - medium-dots
  - rainbow
  - rhombus
  - small-triangles
  - square
  - stairs
  - triangle

# Build settings
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-redirect-from

whitelist:
  - jekyll-feed
  - jekyll-redirect-from

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
