{%- assign firstPartOfPath = page.path | slice: 0, 5 -%}
{%- if firstPartOfPath != "offer" -%}
<section id="offer" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Need help?
      </p>
    </div>
  </div>
</section>

{%- include offer-blocks.html -%}
{%- endif -%}

<section id="involved" class="hero is-halfheight has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Want to get involved?
      </p>
      <div class="breadcrumb is-centered">
        <ul>
          <li>
            <a href="https://twitter.com/ConnectedByData">
              <span class="icon is-small">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              <span>Follow us on Twitter</span>
            </a>
          </li>
          <li>
            <a rel="me" href="https://social.coop/@ConnectedByData">
              <span class="icon is-small">
                <i class="fab fa-mastodon" aria-hidden="true"></i>
              </span>
              <span>Follow us on Mastodon</span>
            </a>
          </li>
          <li>
            <a rel="me" href="https://bsky.app/profile/connectedbydata.bsky.social">
              <span class="icon is-small">
                <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
              </span>
              <span>Follow us on Bluesky</span>
            </a>
          </li>
          <li>
            <a rel="me" href="/blog/feed.xml">
              <span class="icon is-small">
                <i class="fa-solid fa-rss" aria-hidden="true"></i>
              </span>
              <span>Subscribe to our feed</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="breadcrumb is-centered">
        <ul>
          <li>
            <a href="https://connectedbydata.us21.list-manage.com/subscribe?u=7c03d6a429375c9cc2eef194f&id=3c200de804">
              <span class="icon is-small">
                <i class="fa-solid fa-newspaper" aria-hidden="true"></i>
              </span>
              <span>Sign up for our newsletter</span>
            </a>
          </li>
          <li>
            <a href="mailto:jeni@connectedbydata.org">
              <span class="icon is-small">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
              <span>Email us to tell us what you think</span>
            </a>
          </li>
          <li>
            <a href="https://discord.gg/uZyhRghzsc">
              <span class="icon is-small">
                <i class="fab fa-discord" aria-hidden="true"></i>
              </span>
              <span>Join us on Discord</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container is-max-desktop">
    <p>
      © 2022-23 Connected by Data Ltd and licensed under
      <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY 4.0<img style="height:1rem!important;margin-left:3px;vertical-align:text-top;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"><img style="height:1rem!important;margin-left:3px;vertical-align:text-top;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg"></a>
    </p>
    <div class="breadcrumb">
      <ul>
        <li>
          <a href="https://twitter.com/ConnectedByData">
            <span class="icon is-small">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </span>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a rel="me" href="https://social.coop/@ConnectedByData">
            <span class="icon is-small">
              <i class="fab fa-mastodon" aria-hidden="true"></i>
            </span>
            <span>Mastodon</span>
          </a>
        </li>
        <li>
          <a href="https://bsky.app/profile/connectedbydata.bsky.social">
            <span class="icon is-small">
              <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
            </span>
            <span>Bluesky</span>
          </a>
        </li>
        <li>
          <a href="/blog/feed.xml">
            <span class="icon is-small">
              <i class="fa-solid fa-rss" aria-hidden="true"></i>
            </span>
            <span>Feed</span>
          </a>
        </li>
        <li>
          <a href="https://connectedbydata.us21.list-manage.com/subscribe?u=7c03d6a429375c9cc2eef194f&id=3c200de804">
            <span class="icon is-small">
              <i class="fa-solid fa-newspaper" aria-hidden="true"></i>
            </span>
            <span>Newsletter</span>
          </a>
        </li>
        <li>
          <a href="mailto:jeni@connectedbydata.org">
            <span class="icon is-small">
              <i class="fas fa-envelope" aria-hidden="true"></i>
            </span>
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://discord.gg/uZyhRghzsc">
            <span class="icon is-small">
              <i class="fab fa-discord" aria-hidden="true"></i>
            </span>
            <span>Discord</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="breadcrumb">
      <ul>
        <li>
          <a href="/policies/data-protection">Data protection policy</a>
        </li>
        <li>
          <a href="/policies/complaints">Complaints policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
