<head vocab="https://schema.org/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connected by data {%- if page.title %} | {{ page.title }} {%-endif-%}</title>
  <meta property="og:title" content="{%- if page.title -%}{{ page.title }}{%- else -%}Connected by data{%- endif -%}" />
  <meta property="og:url" content="https://connectedbydata.org{{ page.url }}" />
  <meta property="og:description" content="{{ page.excerpt }}" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:title" content="{%- if page.title -%}{{ page.title }}{%- else -%}Connected by data{%- endif -%}" />
  <meta property="twitter:site" content="@ConnectedByData" />
  <meta property="twitter:description" content="{{ page.excerpt }}" />

  {%- if page.collection == 'team' -%}
    <meta property="og:type" content="profile" />
    <meta property="og:image" content="/assets/team/{{page.picture}}" />
  {%- else -%}
    <meta property="og:image" content="/assets/graphicsx1/mountain.png" />
    {%- if page.collection == 'post' -%}
      <meta property="article:published_time" content="{{ page.date }}" />
      <meta property="article:author" content="{{ page.author }}" />
      {%- assign author = site.team | where: "title", post.author | first %}
      <meta property="twitter:creator" content="{{ author.twitter }}" />
    {%- else -%}
      <meta property="og:type" content="article" />
    {%- endif -%}
  {%- endif -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  <script type="text/javascript" src="{{ "/assets/main.js" | relative_url }}"></script>
  {%- if site.include_plausible -%}
    <script defer data-domain="connectedbydata.org" src="https://plausible.io/js/plausible.js"></script>
  {%- endif -%}
</head>
