<section class="section {% if include.evenodd == 'even' %}has-background-dark has-text-light{% else %}has-background-light has-text-dark{% endif %}">
  <div class="container is-max-desktop">
    <div class="columns is-variable is-4">
      <div class="column">
        <h2 class="title">{{ include.section.title }}</h2>
      </div>
      <div class="column is-one-quarter">
        <p>
          <a href="{{ include.section.url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Read more about {{ include.section.more }}.
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
