{%- capture color -%}{{ include.color }}{%- endcapture -%}

{%- capture graphicSeed -%}
  {{ include.item.title }}
  {{ include.item.content }}
{%- endcapture -%}
{%- capture graphicBlock -%}
  {%- include random-graphic-block.html seed=graphicSeed hidden='touch' -%}
{%- endcapture -%}

{%- capture colorBlock -%}
  {%- include block.html background=include.color2 hidden='touch' -%}
{%- endcapture -%}

{%- capture picture -%}
  <div class="literature-picture">
    {%- if include.item.category == 'statistic' -%}
      <p class="statistic">{{ include.item.value }}</p>
    {%- elsif include.item.category == 'article' -%}
      <figure class="image">
        <img src="/assets/nouns/noun-quote.png" alt="quote">
      </figure>
    {%- elsif include.item.category == 'wikipedia' -%}
      <figure class="image">
        <img src="/assets/wikipedia-logo.png" alt="Wikipedia, The Free Encyclopedia">
      </figure>
    {%- elsif include.item.link -%}
      <figure class="image">
        <a href="{{ include.item.link }}">
          <img class="cover" src="/assets/literature/{{ include.item.reference }}.jpg" alt="{{ include.item.title }}">
        </a>
      </figure>
    {%- else -%}
      <figure class="image">
        <img class="cover" src="/assets/literature/{{ include.item.reference }}.jpg" alt="{{ include.item.title }}">
      </figure>
    {%- endif -%}

    {%- if include.item.error -%}
      <div class="error has-text-centered">
        {{ include.item.error | markdownify }}
      </div>
    {%- endif -%}

    {%- if include.item.attribution -%}
      <div class="attribution">
        {{ include.item.attribution | markdownify }}
      </div>
    {%- endif -%}
  </div>
{%- endcapture -%}

{%- capture title -%}
  <div class="literature-header-wrapper">
    <div class="literature-header">
      {%- if include.item.link -%}
        <p class="block">
          <a href="{{ include.item.link }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Read more
          </a>
        </p>
      {%- endif -%}
      <h3 class="title is-5">
        {%- if include.item.link -%}
          <a href="{{ include.item.link }}">{{ include.item.title }}</a>
        {%- else -%}
          {{ include.item.title }}
        {%- endif -%}
      </h3>
      {%- if include.item.author -%}
        <p class="subtitle is-6">{{ include.item.author }}</p>
      {%- endif -%}
      {%- if include.item.category == 'statistic' -%}
        <div class="content">
          {{ include.item.content | markdownify }}
        </div>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}

{%- capture content -%}
  <div class="literature-content-wrapper">
    <div class="literature-content">
      <div class="content">
        {{ include.item.content | markdownify }}
      </div>
    </div>
  </div>
{%- endcapture -%}

<div class="columns is-gapless literature {{include.item.category}} is-mobile is-hidden-tablet">
  {%- include block.html square=true content=picture background=color hidden='tablet' -%}
  {%- include random-graphic-block.html seed=graphicSeed hidden='tablet' -%}
</div>

<div class="columns is-gapless literature {{include.item.category}}">
  {%- if firstlast == "first" -%}{{ colorBlock }}{%- endif -%}

  {%- include block.html square=true content=picture background=color hidden='mobile' -%}
  {%- include block.html content=title background=color -%}

  {%- if firstlast == "last" -%}{{ colorBlock }}{%- endif -%}
</div>

{%- if include.item.category != 'statistic' -%}
<div class="columns is-gapless literature {{include.item.category}} is-hidden-mobile">
  {%- if firstlast == "first" -%}{{ graphicBlock }}{%- endif -%}

  {%- include block.html wide=true content=content background=color -%}

  {%- if firstlast == "last" -%}{{ graphicBlock }}{%- endif -%}
</div>
{%- endif -%}
