<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/logo-white.png">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Problem
          </a>

          <div class="navbar-dropdown">
            {%- assign impact = site.problems | where:"id", "/problems/impact" | first -%}
            {%- assign ownership = site.problems | where:"id", "/problems/ownership" | first -%}
            {%- assign connected = site.problems | where:"id", "/problems/connected" | first -%}
            {%- include navbar-item.html item=impact -%}
            {%- include navbar-item.html item=ownership -%}
            {%- include navbar-item.html item=connected -%}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Vision
          </a>

          <div class="navbar-dropdown">
            {%- assign participation = site.solutions | where:"id", "/solutions/participation" | first -%}
            {%- assign organisations = site.solutions | where:"id", "/solutions/organisations" | first -%}
            {%- assign people = site.solutions | where:"id", "/solutions/people" | first -%}
            {%- include navbar-item.html item=participation -%}
            {%- include navbar-item.html item=organisations -%}
            {%- include navbar-item.html item=people -%}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Action
          </a>

          <div class="navbar-dropdown">
            {%- assign narrative = site.actions | where:"id", "/actions/narrative" | first -%}
            {%- assign practice = site.actions | where:"id", "/actions/practice" | first -%}
            {%- assign policy = site.actions | where:"id", "/actions/policy" | first -%}
            {%- include navbar-item.html item=narrative -%}
            {%- include navbar-item.html item=practice -%}
            {%- include navbar-item.html item=policy -%}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Our work
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/projects">Projects</a>
            <a class="navbar-item" href="/resources">Resources</a>
            <!--<a class="navbar-item" href="/cases">Case database</a>-->
            <a class="navbar-item" href="/fellowship">Fellowship</a>
            <a class="navbar-item" href="/events">Events</a>
            <a class="navbar-item" href="/blog">Blog</a>
            <a class="navbar-item" href="/blog#weeknotes">Weeknotes</a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/offer">Work with us!</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            About Us
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" href="/about">Our mission</a>
            <a class="navbar-item" href="/about#report">What we've done</a>
            <a class="navbar-item" href="/about#plans">What we're planning</a>
            <a class="navbar-item" href="/about#values">How we work</a>
            <a class="navbar-item" href="/about#team">Who we are</a>
            <a class="navbar-item" href="/about#funding">How we're funded</a>
            {%- assign openJobs = site.jobs | where: "expired", "false" -%}
            {%- if openJobs.size > 0 -%}
              <hr class="navbar-divider">
              <a class="navbar-item" href="/about#jobs">Join us!</a>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
