<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/logo-white.png">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Problem
          </a>

          <div class="navbar-dropdown">
            {%- assign impact = site.problems | where:"id", "/problems/impact" | first -%}
            {%- assign ownership = site.problems | where:"id", "/problems/ownership" | first -%}
            {%- assign connected = site.problems | where:"id", "/problems/connected" | first -%}
            {%- include navbar-item.html item=impact -%}
            {%- include navbar-item.html item=ownership -%}
            {%- include navbar-item.html item=connected -%}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Vision
          </a>

          <div class="navbar-dropdown">
            {%- assign participation = site.solutions | where:"id", "/solutions/participation" | first -%}
            {%- assign organisations = site.solutions | where:"id", "/solutions/organisations" | first -%}
            {%- assign people = site.solutions | where:"id", "/solutions/people" | first -%}
            {%- include navbar-item.html item=participation -%}
            {%- include navbar-item.html item=organisations -%}
            {%- include navbar-item.html item=people -%}
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Action
          </a>

          <div class="navbar-dropdown">
            {%- assign narrative = site.actions | where:"id", "/actions/narrative" | first -%}
            {%- assign practice = site.actions | where:"id", "/actions/practice" | first -%}
            {%- assign policy = site.actions | where:"id", "/actions/policy" | first -%}
            {%- include navbar-item.html item=narrative -%}
            {%- include navbar-item.html item=practice -%}
            {%- include navbar-item.html item=policy -%}
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <a class="navbar-item" href="/blog">
          Blog
        </a>
        <a class="navbar-item" href="/about">
          About Us
        </a>
      </div>
    </div>
  </div>
</nav>
