{%- capture pagination -%}
  <div class="columns is-mobile">
    <div class="column is-one-third pl-6">
      {%- if paginator.previous_page -%}
      <a class="" href="{{ paginator.previous_page_path }}" rel="previous">
        <i class="fas fa-angle-double-left"></i>&nbsp;Previous
      </a>
      {%- elsif page.previous-url -%}
      <a class="" href="{{ page.previous-url | relative_url }}" rel="previous">
        <i class="fas fa-angle-double-left"></i>&nbsp;Previous
      </a>
      {%- elsif page.previous -%}
      <a class="" href="{{ page.previous | relative_url }}" rel="previous">
        <i class="fas fa-angle-double-left"></i>&nbsp;Previous
      </a>
      {%- endif -%}
    </div>
    <div class="column is-one-third has-text-centered">
      {%- if paginator.page -%}
      <span class="page_number ">
        Page {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {%- endif -%}
    </div>
    <div class="column is-one-third has-text-right pr-6">
      {%- if paginator.next_page -%}
      <a class="" href="{{ paginator.next_page_path }}" rel="next">
        Next&nbsp;<i class="fas fa-angle-double-right"></i>
      </a>
      {%- elsif page.next-url -%}
      <a href="{{ page.next-url | relative_url }}" rel="next">
        Next&nbsp;<i class="fas fa-angle-double-right"></i>
      </a>
      {%- elsif page.next -%}
      <a href="{{ page.next | relative_url }}" rel="next">
        Next&nbsp;<i class="fas fa-angle-double-right"></i>
      </a>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}
{%- include section.html content=pagination -%}
