{%- assign news = include.news -%}
{%- assign opinion = include.opinion -%}
{%- assign weeknotes = include.weeknotes -%}

{%- for post in news -%}
  {%- if post.title != "Data Policy Digest" -%}
    {%- capture postBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture postContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- include post.html post=post excerpt=true postBackground=postBackground postContrast=postContrast -%}
  {%- endif -%}
{%- endfor -%}

{%- if opinion.size > 0 -%}
  <section id="opinion" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Opinion
        </p>
      </div>
    </div>
  </section>

  {%- for post in opinion -%}
    {%- capture postBackground -%}{%- cycle 'darkest-green', 'darker-green', 'dark-green' -%}{%- endcapture -%}
    {%- capture postContrast -%}{%- cycle 'dark-green', 'darkest-green', 'darker-green' -%}{%- endcapture -%}
    {%- include post.html post=post excerpt=true postBackground=postBackground postContrast=postContrast -%}
  {%- endfor -%}
{%- endif -%}

{%- capture dpd -%}
  {%- for post in news -%}
    {%- if post.title == "Data Policy Digest" -%}
      {%- capture postBackground -%}{%- cycle 'darkest-green', 'darker-green', 'dark-green' -%}{%- endcapture -%}
      {%- capture postContrast -%}{%- cycle 'dark-green', 'darkest-green', 'darker-green' -%}{%- endcapture -%}
      {%- include post.html post=post excerpt=true postBackground=postBackground postContrast=postContrast -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if dpd.size > 0 -%}
  <section id="dpd" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Data Policy Digest
        </p>
      </div>
    </div>
  </section>
  {{ dpd }}
{%- endif -%}

{%- if weeknotes.size > 0 -%}
  <section id="weeknotes" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Weeknotes
        </p>
      </div>
    </div>
  </section>

  {%- capture weeknotesSection -%}
    {%- capture content -%}
      <div class="point">
        <p>Weeknotes are a combination of updates and personal reflection written on a routine basis</p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless">
      {%- include block.html background='imperfect-circle' hidden='touch' -%}
      {%- include block.html content=content background='darkest-green' -%}
      {%- include block.html background='darkest-green' hidden='mobile' -%}
    </div>
    {%- assign seed = weeknotes | map: "title" | join: "" -%}
    {%- assign seed2 = content -%}
    {%- capture weeknotesBlocks -%}
      {%- for post in weeknotes -%}
        {%- capture content -%}
          <div class="subpoint">
            <p class="subtitle is-6">
              <a href="{{ post.url }}">
                {{ post.author | truncatewords: 1, "" }}
                <br>
                {% include date.html date=post.date -%}
              </a>
            </p>
          </div>
        {%- endcapture -%}
        {%- include block.html square=true content=content -%}
      {%- endfor -%}
    {%- endcapture -%}
    {%- include filler-blocks.html size=weeknotes.size blocks=weeknotesBlocks seed1=seed seed2=seed2 -%}
  {%- endcapture -%}
  {%- include section.html content=weeknotesSection -%}
{%- endif -%}
