{%- assign post = include.post -%}
{%- assign author = site.team | where: "title", post.author | first %}
{%- capture post-content -%}
  {%- capture image -%}
    <div class="icon">
      <figure class="image is-128x128">
        <a href="{{ author.url }}">
          <img src="/assets/team/{{ author.picture }}">
        </a>
      </figure>
    </div>
  {%- endcapture -%}
  {%- capture subtitle -%}
    <p class="subtitle is-6">
      {%- include author-link.html author=author %}
      &middot;
      {% include date.html date=post.date -%}
    </p>
  {%- endcapture -%}
  {%- capture title -%}
    <div class="point">
      <h2 class="title is-4">
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      {{ subtitle }}
    </div>
  {%- endcapture -%}
  {%- capture content -%}
    <div class="content">
      {%- if include.excerpt -%}
        {{ post.excerpt }}
        <p>
          <a href="{{ post.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Read more
          </a>
        </p>
      {%- else -%}
        {{ post.content | markdownify }}
      {%- endif -%}
    </div>
  {%- endcapture -%}
  {%- if include.excerpt -%}
    <div class="columns is-gapless post">
      {%- include random-graphic-block.html seed=post.title -%}
      {%- include block.html content=title background=include.postBackground -%}
      {%- include block.html square=true content=image background=include.postBackground hidden='touch' -%}
    </div>
    <div class="columns is-gapless post is-mobile is-hidden-tablet">
      {%- include block.html square=true content=image background=include.postBackground hidden='tablet' -%}
      {%- include random-graphic-block.html seed=post.title hidden='tablet' -%}
    </div>
    <div class="columns is-gapless post">
      {%- include block.html square=true background=include.postContrast hidden='touch' -%}
      {%- include block.html wide=true content=content background=include.postBackground -%}
    </div>
  {%- else -%}
    {%- capture metadata -%}
      <div class="subpoint">
        <figure class="image is-64x64">
          <a href="{{ author.url }}">
            <img src="/assets/team/{{ author.picture }}">
          </a>
        </figure>
        <p>
          {%- include author-link.html author=author %}
        </p>
        <p>
          {% include date.html date=post.date -%}
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless post is-mobile is-hidden-desktop">
      {%- include random-graphic-block.html seed=post.title hidden='desktop' -%}
      {%- include block.html square=true content=metadata background=include.postContrast hidden='desktop' -%}
      {%- include block.html square=true nested=true background=include.postContrast hidden='mobile' -%}
    </div>
    <div class="columns is-gapless post">
      <div class="column has-nested is-hidden-touch">
        <div class="columns is-gapless">
          {%- include random-graphic-block.html seed=post.title nested=true -%}
          {%- include block.html square=true nested=true content=metadata background=include.postContrast -%}
          {%- include block.html square=true nested=true background=include.postContrast hidden='mobile' -%}
        </div>
      </div>
      {%- include block.html wide=true content=content background=include.postBackground -%}
    </div>
  {%- endif -%}
{%- endcapture -%}
{%- include section.html content=post-content -%}
