.has-background-circles {
  background-image: url(/assets/graphicsx1/circles.png);
  background-size: cover;
}
.has-background-cube {
  background-image: url(/assets/graphicsx1/cube.png);
  background-size: cover;
}
.has-background-imperfect-circle {
  background-image: url(/assets/graphicsx1/imperfect-circle.png);
  background-size: cover;
}
.has-background-large-dots {
  background-image: url(/assets/graphicsx1/large-dots.png);
  background-size: cover;
}
.has-background-medium-dots {
  background-image: url(/assets/graphicsx1/medium-dots.png);
  background-size: cover;
}
.has-background-mountain {
  background-image: url(/assets/graphicsx1/mountain.png);
  background-size: cover;
}
.has-background-rainbow {
  background-image: url(/assets/graphicsx1/rainbow.png);
  background-size: cover;
}
.has-background-rhombus {
  background-image: url(/assets/graphicsx1/rhombus.png);
  background-size: cover;
}
.has-background-small-triangles {
  background-image: url(/assets/graphicsx1/small-triangles.png);
  background-size: cover;
}
.has-background-square {
  background-image: url(/assets/graphicsx1/square.png);
  background-size: cover;
}
.has-background-stairs {
  background-image: url(/assets/graphicsx1/stairs.png);
  background-size: cover;
}
.has-background-triangle {
  background-image: url(/assets/graphicsx1/triangle.png);
  background-size: cover;
}
