.has-background-circles {
  background-image: url(/assets/graphicsx1/circles.svg);
  background-size: cover;
}
.has-background-cube {
  background-image: url(/assets/graphicsx1/cube.svg);
  background-size: cover;
}
.has-background-imperfect-circle {
  background-image: url(/assets/graphicsx1/imperfect-circle.svg);
  background-size: cover;
}
.has-background-large-dots {
  background-image: url(/assets/graphicsx1/large-dots.svg);
  background-size: cover;
}
.has-background-medium-dots {
  background-image: url(/assets/graphicsx1/medium-dots.svg);
  background-size: cover;
}
.has-background-mountain {
  background-image: url(/assets/graphicsx1/mountain.svg);
  background-size: cover;
}
.has-background-rainbow {
  background-image: url(/assets/graphicsx1/rainbow.svg);
  background-size: cover;
}
.has-background-rhombus {
  background-image: url(/assets/graphicsx1/rhombus.svg);
  background-size: cover;
}
.has-background-small-triangles {
  background-image: url(/assets/graphicsx1/small-triangles.svg);
  background-size: cover;
}
.has-background-square {
  background-image: url(/assets/graphicsx1/square.svg);
  background-size: cover;
}
.has-background-stairs {
  background-image: url(/assets/graphicsx1/stairs.svg);
  background-size: cover;
}
.has-background-triangle {
  background-image: url(/assets/graphicsx1/triangle.svg);
  background-size: cover;
}
