---
# Only the main Sass file needs front matter (the dashes are enough)
---

$title-color: inherit;
$fa-font-path: "webfonts";
$breadcrumb-item-separator-color: inherit;
$breadcrumb-item-hover-color: inherit;
$breadcrumb-item-active-color: inherit;

@import "fontawesome/fontawesome.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/solid.scss";
@import "bulma";

.has-text-light {
  strong {
    color: $light;
  }
  a {
    color: findLightColor($link);
  }
}

.literature {
  max-height: 15rem;
  overflow: scroll;
}
