---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: NotoSans;
  src: url(webfonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans;
  src: url(webfonts/NotoSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(webfonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(webfonts/Poppins-SemiBold.ttf);
  font-weight: bold;
}

$large-mobile: 432px;
$tablet: 576px;

$family-primary: NotoSans;
$family-secondary: Poppins;

$title-color: inherit;
$title-family: $family-secondary;
$subtitle-family: $family-secondary;
$fa-font-path: "webfonts";
$breadcrumb-item-separator-color: inherit;
$breadcrumb-item-hover-color: inherit;
$breadcrumb-item-active-color: inherit;
$scrollbar-width: 5px;

$light-purple: #8132f1;
$purple: #6200ee;
$dark-purple: #3200a1;
$light-green: #00d1b2;
$dark-green: #00a0a1;

$lightest-green: #99ece0;
$lighter-green: #66e3d0;
$darker-green: #008788;
$darkest-green: #006d6e;

$dark-grey: #25333a;
$light-grey: #F3f2f2;

$primary: $light-green;
$primary-invert: $dark-purple;
$primary-light: $lightest-green;
$primary-dark: $dark-green;
$link: $dark-purple;

$light: $light-grey;
$light-invert: $dark-grey;
$dark: $dark-grey;
$dark-invert: $light-grey;

$scheme-main: $light-grey !default
$scheme-main-ter: white !default
$scheme-invert: $dark-grey !default
$scheme-invert-ter: black !default

$text: $dark-grey;
$background: $light-grey;

$radius: 0px;
$radius-large: 0px;

$navbar-background-color: $primary;
$navbar-item-color: white;
$navbar-padding-vertical: 2rem;
$navbar-dropdown-arrow: white;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $primary;
$navbar-dropdown-background-color: $dark-green;
$navbar-dropdown-border-top: none;

$footer-background-color: $primary;
$footer-color: white;

@import "fontawesome/fontawesome.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/solid.scss";
@import "bulma";
@import "graphics.scss";

.has-background-dark-green {
  background-color: $dark-green;
}
.has-background-darker-green {
  background-color: $darker-green;
}
.has-background-darkest-green {
  background-color: $darkest-green;
}

.navbar {
  font-family: Poppins;
}

.footer a {
  color: white;

  &:hover {
    color: link;
  }
}

.home {

  .navbar {
    &.dummy {
      height: 100px;
    }
    .navbar-brand img {
      max-height: 120px;
      padding-top: 24px;
    }
    .navbar-menu {
      margin-bottom: 46px;
      .navbar-dropdown {
        top: 66px;
      }
    }
  }

  .columns.is-gapless {
    margin-bottom: 0px;

    .column.is-square:before {
      content: "";
      display: block;
      padding-top: 100%;
      float: left;
    }

    .column {
      display: flex;
      align-items: center;

      @include mobile {
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
          float: left;
        }
      }

      @media screen and (min-width: $large-mobile) {
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
          float: left;
        }
      }

      div {
        color: white;
        padding-left: 2.5rem;
        padding-right: 25%;
        padding-top: 1rem;
        padding-bottom: 1rem;

        .title {
          font-size: 1.5rem;
        }

        a {
          color: white;
        }

      }
    }

  }

  .breadcrumb ul li + li:before {
    @include mobile {
      display: none;
    }
  }

}

.has-text-light {
  strong {
    color: $light;
  }
  a {
    color: findLightColor($link);
  }
}

.level.is-mobile .image.is-128x128 {
  @include mobile {
    width: 64px;
    height: 64px;
  }
}

.literature {
  .statistic {
    @include mobile {
      font-size: 2rem;
    }
    @include tablet {
      font-size: 3rem;
    }
  }

  figure {
    @include mobile {
      max-width: 64px;
    }
    @include tablet {
      max-width: 128px;
    }
  }

  img {
    filter: grayscale(1);
    opacity: 0.8;
  }

  img:hover {
    filter: none;
    opacity: 1;
  }

  .media-content {
    max-height: 15rem;
    overflow-y: scroll;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .media-content::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  .media-content::-webkit-scrollbar-track {
    background: inherit;
  }

  .media-content::-webkit-scrollbar-thumb {
    background: $grey-light;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .media-content {
    scrollbar-width: $scrollbar-width;  /* Firefox */
    scrollbar-color: $grey-light inherit;
  }

  .attribution {
    max-width: fit-content;
    font-size: 0.8rem;
  }
}


.is-primary .literature .media-content::-webkit-scrollbar-thumb {
  background: findDarkColor($primary);
}

.is-danger .literature .media-content::-webkit-scrollbar-thumb {
  background: findDarkColor($danger);
}
