---
# Only the main Sass file needs front matter (the dashes are enough)
---

@font-face {
  font-family: NotoSans;
  src: url(webfonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans;
  src: url(webfonts/NotoSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url(webfonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(webfonts/Poppins-SemiBold.ttf);
  font-weight: bold;
}

$large-mobile: 375px;
$tablet: 576px;

$family-primary: NotoSans;
$family-secondary: Poppins;

$title-color: inherit;
$title-family: $family-secondary;
$subtitle-family: $family-secondary;
$fa-font-path: "webfonts";
$breadcrumb-item-separator-color: inherit;
$breadcrumb-item-hover-color: inherit;
$breadcrumb-item-active-color: inherit;
$scrollbar-width: 5px;

$light-purple: #8132f1;
$purple: #6200ee;
$dark-purple: #3200a1;
$light-green: #00d1b2;
$dark-green: #00a0a1;

$orange: #Ff6700;
$red: #e53935;

$lightest-green: #99ece0;
$lighter-green: #66e3d0;
$darker-green: #008788;
$darkest-green: #006d6e;

$dark-grey: #25333a;
$light-grey: #F3f2f2;

$primary: $light-green;
$primary-invert: $dark-purple;
$primary-light: $lightest-green;
$primary-dark: $dark-green;
$link: $dark-purple;
$link-hover: $light-purple;

$light: $light-grey;
$light-invert: $dark-grey;
$dark: $dark-grey;
$dark-invert: $light-grey;

$scheme-main: $light-grey !default;
$scheme-main-ter: white !default;
$scheme-invert: $dark-grey !default;
$scheme-invert-ter: black !default;

$text: $dark-grey;
$background: $light-grey;
$content-heading-color: white;

$radius: 0px;
$radius-large: 0px;

$navbar-background-color: $primary;
$navbar-item-color: white;
$navbar-padding-vertical: 2rem;
$navbar-dropdown-arrow: white;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $primary;
$navbar-dropdown-background-color: $dark-green;
$navbar-dropdown-border-top: none;

$footer-background-color: $primary;
$footer-color: white;

@import "fontawesome/fontawesome.scss";
@import "fontawesome/brands.scss";
@import "fontawesome/solid.scss";
@import "bulma";
@import "graphics.scss";

.has-background-dark-green {
  background-color: $dark-green;
}
.has-background-darker-green {
  background-color: $darker-green;
}
.has-background-darkest-green {
  background-color: $darkest-green;
}

.navbar {
  font-family: Poppins;
}

.footer a {
  color: white;

  &:hover {
    color: $link;
  }
}

.navbar {
  &.dummy {
    height: 76px;
  }
  .navbar-brand img {
    max-height: 60px;
    padding-top: 12px;
  }
  .navbar-menu {
    margin-bottom: 18px;
    .navbar-dropdown {
      top: 40px;
    }
  }

  .navbar-item {
    line-height: 1.5;
    padding-top: 0.1rem;
    padding-bottom: 0.15rem;
    .navbar-link {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.columns.is-gapless {

  .column.has-nested {
    align-items: flex-start;

    .columns.is-gapless {
      flex-direction: column;
      width: 100%;
      height: 100%;

      .column {
        max-height: 240px;

        &:last-child {
          max-height: 100%;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 0px;
  }

  .column.is-square:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
  }

  .column {
    display: flex;
    align-items: center;

    @include mobile {
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
        float: left;
      }
    }

    @media screen and (min-width: $large-mobile) {
      &:before {
        content: "";
        display: block;
        padding-top: 50%;
        float: left;
      }
    }

    &.is-three-quarters-fullhd, &.is-half-fullhd {
      @include mobile {
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
          float: left;
        }
      }

      @media screen and (min-width: $large-mobile) {
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
          float: left;
        }
      }

      @media screen and (min-width: $tablet) {
        &:before {
          content: "";
          display: block;
          padding-top: 33%;
          float: left;
        }
      }
    }

    &.is-short {
      @include mobile {
        &:before {
          content: "";
          display: block;
          padding-top: 50%;
          float: left;
        }
      }
    }

    div.subpoint, div.literature-picture, div.resource-picture, div.project-picture, div.icon {
      color: white;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      strong, a {
        font-weight: bold;
        color: white;
      }
    }

    div.subpoint {
      figure {
        margin-bottom: 1rem;
      }

      @include mobile {
        font-size: 0.8rem;
      }
    }

    div.point {
      padding-left: 2.5rem;
      padding-right: 25%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: white;
      font-size: 1.3rem;

      @media screen and (max-width: $large-mobile) {
        font-size: 1.15rem;
      }

      .title {
        font-size: 1.5rem;

        @media screen and (max-width: $large-mobile) {
          font-size: 1.3rem;
        }

        a {
          font-size: inherit;
        }
      }

      .subtitle a {
        font-size: inherit;
      }

      a, .subtitle, strong {
        color: white;
      }

      .content a {
        font-weight: bold;
      }

      a {
        &:hover {
          color: $link;
        }
        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.home {

  .navbar {
    &.dummy {
      height: 100px;
    }
    .navbar-brand img {
      max-height: 120px;
      padding-top: 24px;

      @include mobile {
        max-height: 90px;
        padding-top: 18px;
      }
    }
    .navbar-menu {
      margin-bottom: 46px;
      .navbar-dropdown {
        top: 60px;
      }
    }
    .navbar-burger {
      height: 5.25rem;
      width: 5.25rem;

      span {
        height: 2px;
        left: calc(50% - 16px);
        width: 32px;

        &:nth-child(2) {
          top: calc(50% + 2px);
        }
        &:nth-child(3) {
          top: calc(50% + 10px);
        }
      }

      &.is-active span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }

  #involved .breadcrumb {
    a:hover {
      color: $light-purple;
    }
  }

}

.breadcrumb {
  a:hover {
    color: $link;
  }
  ul {
    @include mobile {
      flex-direction: column;
      a {
        padding-left: 0rem;
      }
    }
  }
  li + li::before {
    content: "\025AA";
    @include mobile {
      display: none;
    }
  }
}

.is-mobile .image {
  &.is-128x128 {
    @include mobile {
      width: 96px;
      height: 96px;
    }
  }
  &.is-64x64 {
    @include mobile {
      width: 48px;
      height: 48px;
    }
  }
}

.post.is-mobile .image {
  &.is-64x64 {
    @include mobile {
      width: 64px;
      height: 64px;
    }
  }
}

.resource .mainimage {
  figure {
    max-width: 100%;

    @include mobile {
      max-width: 50%;
    }

    @media screen and (max-width: $large-mobile) {
      max-width: 75%;
    }

    img {
      border: $link solid 3px;
    }
  }
}

.literature, .resource {
  color: white;

  .statistic {
    @include mobile {
      font-size: 4rem;
    }
    @include tablet {
      font-size: 6rem;
    }
  }

  &.statistic {
    .content {
      font-size: 0.8rem;
    }
  }

  .error {
    @include mobile {
      font-size: 1.5rem;
    }
    @include tablet {
      font-size: 2rem;
    }
  }

  figure {
    max-width: 128px;

    @include mobile {
      max-width: 64px;
    }

    @media screen and (max-width: $large-mobile) {
      max-width: 96px;
    }
  }

  img.cover {
    filter: grayscale(1);
    opacity: 0.8;
  }

  img:hover {
    filter: none;
    opacity: 1;
  }

  .literature-header-wrapper {
    padding-left: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
  }

  .literature-content-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .literature-content {
    max-height: 13rem;
    overflow-y: scroll;

    .content {
      padding-left: 5%;
      padding-right: 1rem;
    }

    p::before {
      content: "“";
    }

    p:last-child::after {
      content: "”";
    }

  }

  a, .subtitle, strong {
    color: white;
  }

  a:hover {
    color: $link;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .literature-content::-webkit-scrollbar {
    width: $scrollbar-width;
  }

  .literature-content::-webkit-scrollbar-track {
    background: inherit;
  }

  .literature-content::-webkit-scrollbar-thumb {
    background: $light-green;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .literature-content {
    scrollbar-width: $scrollbar-width;  /* Firefox */
    scrollbar-color: $light-green inherit;
  }

  .attribution {
    font-size: 0.8rem;
    position: relative;
    top: calc(50% - 2.4rem);

    a {
      font-weight: bold;
      color: white;

      &:hover {
        color: $link;
      }
    }
  }
}

.literature.example .literature-content {
  p::before {
    content: ""
  }
  p::after {
    content: ""
  }
}

.post, .person, .job, .event, .resource, .project {
  .content {
    padding: 2rem;
    line-height: 1.75rem;
    color: white;
    a, strong {
      color: inherit;
    }
    a {
      font-weight: bold;
      &:hover {
        color: $link;
      }
    }
    blockquote {
      background: $lightest-green;
      border-color: $primary;
      color: $text;
    }
    ul {
      list-style: square outside;
    }
  }
}

.section {
  @include mobile {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
