---
layout: default
---
<article>

{%- capture header -%}
<h1 class="title is-1">{{ page.title }}</h1>
<p class="subtitle">We are a not-for-profit organisation</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture mission -%}
  <div class="columns is-gapless">
    {%- include about-block.html title='Our vision' content='**We want communities to have a powerful say in decisions about data** so that it is used to create a just, equitable and sustainable world' background='dark-green' wide=true -%}
    {%- include block.html background='mountain' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-desktop">
    {%- include block.html background='mountain' -%}
    {%- include block.html background='dark-green' -%}
    {%- include block.html background='darker-green' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='imperfect-circle' hidden='touch' -%}
    {%- include about-block.html title='Our mission' content='**We campaign to put community at the centre of data narratives, practices and policies** by advocating for collective and open data governance' background='darker-green' wide=true -%}
  </div>
{%- endcapture -%}
{%- include section.html content=mission -%}

<section id="report" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        What we've done
      </p>
    </div>
  </div>
</section>

{%- capture annualReports -%}
  {%- assign reports = site.annual-report | reverse -%}
  {%- for report in reports -%}
    {%- capture reportBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture leftright -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include annual-report.html report=report reportBackground=reportBackground leftright=leftright -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=annualReports -%}

<section id="plans" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        What we're planning
      </p>
    </div>
  </div>
</section>

{%- capture plans -%}
  {%- assign roadmap = site.resources | where: "reference", "strategic-roadmap-2025-2026" | first -%}
  {%- include resource.html resource=roadmap excerpt=true imagePosition='left' resourceBackground='darkest-green' resourceContrast='darker-green' -%}
  {%- assign toc = site.resources | where: "reference", "theory-of-change-2022" | first -%}
  {%- include resource.html resource=toc excerpt=true imagePosition='right' resourceBackground='darker-green' resourceContrast='dark-green' -%}
{%- endcapture -%}
{%- include section.html content=plans -%}

<section id="values" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we work
      </p>
    </div>
  </div>
</section>

{%- capture values -%}
  <div class="columns is-gapless">
    {%- include block.html background='dark-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We focus on impact' background='darkest-green' -%}
    {%- include block.html background='square' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='dark-green' -%}
    {%- include block.html background='square' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We work in the open' background='dark-green' -%}
    {%- include block.html background='small-triangles' hidden='touch' -%}
    {%- include block.html background='darker-green' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darker-green' -%}
    {%- include block.html background='small-triangles' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='stairs' hidden='mobile' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We collaborate and learn with others' background='darker-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rainbow' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We take care of each other and ourselves' background='darkest-green' -%}
    {%- include block.html background='rainbow' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=values -%}

<section id="team" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Who we are
      </p>
    </div>
  </div>
</section>

{%- capture team -%}
  {%- assign team = site.people | where: "roles", "team" | sort: "order" -%}
  {%- for person in team -%}
    {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- include person.html person=person personBackground=personBackground contrast=contrast leftright=leftright -%}
  {%- endfor -%}

  {%- capture content -%}
    <div class="point">
      <h3 class="title is-4">Board</h3>
      <h4 class="subtitle">Our directors</h4>
      <p class="is-size-6">
        <a href="/board">
          <i class="fas fa-arrow-alt-circle-right"></i>
          &nbsp;Read more
        </a>
      </p>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless">
    {%- include block.html background='darker-green' hidden='mobile' -%}
    {%- include block.html content=content background='darker-green' -%}
    {%- include block.html background='large-dots' hidden='touch' -%}
  </div>
  {%- assign board = site.people | where: "roles", "board" | sort: "order" | reverse -%}
  {%- assign seed = board | map: "title" | join: "" -%}
  {%- assign seed2 = content -%}
  {%- capture boardBlocks -%}
    {%- for member in board -%}
      {%- capture content -%}
        <div class="subpoint">
          <figure class="image is-128x128">
            <a href="{{ member.url }}">
              <img src="/assets/people/{{ member.picture }}">
            </a>
          </figure>
          <p class="title is-6">
            <a href="{{ member.url }}">{{ member.title }}</a>
          </p>
          <p class="subtitle is-7 has-text-white">{{ member.role }}</p>
        </div>
      {%- endcapture -%}
      {%- include block.html square=true content=content -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include filler-blocks.html size=board.size blocks=boardBlocks seed1=seed seed2=seed2 -%}

  {%- capture content -%}
    <div class="point">
      <h3 class="title is-4">Associates</h3>
      <h4 class="subtitle">Freelancers we work with</h4>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless">
    {%- include block.html background='medium-dots' hidden='touch' -%}
    {%- include block.html content=content background='darkest-green' -%}
    {%- include block.html background='darkest-green' hidden='mobile' -%}
  </div>
  {%- assign associates = site.people | where: "roles", "associate" | sort: "title" -%}
  {%- assign seed = associates | map: "title" | join: "" -%}
  {%- assign seed2 = content -%}
  {%- capture associatesBlocks -%}
    {%- for associate in associates -%}
      {%- capture content -%}
        <div class="subpoint">
          <figure class="image is-128x128">
            <a href="{{ associate.url }}">
              <img src="/assets/people/{{ associate.picture }}">
            </a>
          </figure>
          <p class="title is-6">
            <a href="{{ associate.url }}">{{ associate.title }}</a>
          </p>
          <p class="subtitle is-7 has-text-white">{{ associate.role }}</p>
        </div>
      {%- endcapture -%}
      {%- include block.html square=true content=content -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include filler-blocks.html size=associates.size blocks=associatesBlocks seed1=seed seed2=seed2 -%}

  {%- capture content -%}
    <div class="point">
      <h3 class="title is-4">Fellows</h3>
      <h4 class="subtitle">People we support and mentor</h4>
      <p class="is-size-6">
        <a href="/fellowship">
          <i class="fas fa-arrow-alt-circle-right"></i>
          &nbsp;Read more
        </a>
      </p>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless">
    {%- include block.html background='dark-green' hidden='mobile' -%}
    {%- include block.html content=content background='dark-green' -%}
    {%- include block.html background='small-triangles' hidden='touch' -%}
  </div>
  {%- assign fellows = site.people | where: "roles", "fellow" | sort: "title" -%}
  {%- assign seed = fellows | map: "title" | join: "" -%}
  {%- assign seed2 = content -%}
  {%- capture fellowsBlocks -%}
    {%- for fellow in fellows -%}
      {%- capture content -%}
        <div class="subpoint">
          <figure class="image is-128x128">
            <a href="{{ fellow.url }}">
              <img src="/assets/people/{{ fellow.picture }}">
            </a>
          </figure>
          <p class="title is-6">
            <a href="{{ fellow.url }}">{{ fellow.title }}</a>
          </p>
          <p class="subtitle is-7 has-text-white">{{ fellow.role }}</p>
        </div>
      {%- endcapture -%}
      {%- include block.html square=true content=content -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include filler-blocks.html size=fellows.size blocks=fellowsBlocks seed1=seed seed2=seed2 -%}

  {%- capture content -%}
    <div class="point">
      <h3 class="title is-4">Alumni</h3>
      <h4 class="subtitle">Previous team members</h4>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless">
    {%- include block.html background='darker-green' hidden='mobile' -%}
    {%- include block.html content=content background='darker-green' -%}
    {%- include block.html background='large-dots' hidden='touch' -%}
  </div>
  {%- assign alumni = site.people | where: "roles", "alumni" | sort: "order" | reverse -%}
  {%- assign seed = alumni | map: "title" | join: "" -%}
  {%- assign seed2 = content -%}
  {%- capture alumniBlocks -%}
    {%- for member in alumni -%}
      {%- capture content -%}
        <div class="subpoint">
          <figure class="image is-128x128">
            <a href="{{ member.url }}">
              <img src="/assets/people/{{ member.picture }}">
            </a>
          </figure>
          <p class="title is-6">
            <a href="{{ member.url }}">{{ member.title }}</a>
          </p>
          <p class="subtitle is-7 has-text-white">{{ member.role }}</p>
        </div>
      {%- endcapture -%}
      {%- include block.html square=true content=content -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include filler-blocks.html size=alumni.size blocks=alumniBlocks seed1=seed seed2=seed2 -%}

{%- endcapture -%}
{%- include section.html content=team -%}

{%- capture jobsSection -%}
  {%- assign openJobs = site.jobs | where: "expired", "false" -%}
  {%- capture jobs -%}
    <div class="point">
      <h3 class="title is-4">Open position{%- if openJobs.size > 1 -%}s{%- endif -%}</h3>
    </div>
  {%- endcapture -%}
  {%- if openJobs.size > 0 -%}
    <div id="jobs" class="columns is-gapless job">
      {%- include block.html content=jobs background='darker-green' -%}
      {%- include block.html background='darker-green' hidden='mobile' -%}
      {%- include block.html background='mountain' hidden='touch' -%}
    </div>
  {%- endif -%}
  {%- for job in openJobs -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- capture jobBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ job.url | relative_url }}">{{ job.title }}</a></h3>
        <p class="subtitle">{{ job.subtitle | replace: "<br>", " " }}</p>
        <p>
          <a href="{{ job.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Learn more
          </a>
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile job is-hidden-tablet">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=job.title hidden='tablet' -%}
      {%- endif -%}
      {%- include block.html square=true background=jobBackground hidden='tablet' -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=job.title hidden='tablet' -%}
      {%- endif -%}
    </div>
    <div class="columns is-gapless job">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=job.title hidden='touch' -%}
      {%- endif -%}
      {%- include block.html wide=true content=title background=jobBackground -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=job.title hidden='touch' -%}
      {%- endif -%}
    </div>
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=jobsSection -%}

<section id="funding" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we are funded
      </p>
    </div>
  </div>
</section>

{%- capture funding -%}
  {%- assign funders = site.funders | where: "current", "true" -%}
  {%- for funder in funders -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- capture funderBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture image -%}
      <div class="subpoint">
        <figure class="image">
          <a href="{{ funder.link }}">
            <img src="/assets/funders/{{ funder.image }}">
          </a>
        </figure>
      </div>
    {%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ funder.link }}">{{ funder.title }}</a></h3>
        <div class="subtitle">{{ funder.content }}</div>
      </div>
    {%- endcapture -%}
    {% assign logo-bg = funder.logo-bg | default: 'white' %}
    <div class="columns is-gapless is-mobile is-hidden-tablet">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=funder.title hidden='touch' -%}
      {%- endif -%}
      {%- include block.html square=true content=image background=logo-bg hidden='tablet' -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=funder.title hidden='touch' -%}
      {%- endif -%}
    </div>
    <div class="columns is-gapless">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=funder.title hidden='touch' -%}
      {%- else -%}
      {%- include block.html square=true content=image background=logo-bg hidden='mobile' -%}
      {%- endif -%}
      {%- include block.html content=title background='darker-green' -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=funder.title hidden='touch' -%}
      {%- else -%}
      {%- include block.html square=true content=image background=logo-bg hidden='mobile' -%}
      {%- endif -%}
    </div>
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=funding -%}

<section id="thanks" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        With thanks...
      </p>
    </div>
  </div>
</section>

{%- capture acknowledgements -%}
  <div class="columns is-gapless">
    {%- include block.html background='darkest-green' hidden='mobile' -%}
    {%- include about-block.html title='<a href="http://philpottdesign.com/">Philpott Design</a>' content='for design elements and support' background='dark-green' -%}
    {%- include block.html background='rhombus' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rhombus' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html title='<a href="https://thenounproject.com/">Noun Project</a>' content='for all icons, used under the Royalty Free licence' background='darkest-green' -%}
    {%- include block.html background='large-dots' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=acknowledgements -%}

</article>
