---
layout: default
---
<article>

{%- capture header -%}
<h1 class="title is-1">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture mission -%}
  <div class="columns is-gapless">
    {%- include about-block.html title='Our vision' content='**We want communities to have a powerful say in decisions about data** so that it is used to create a just, equitable and sustainable world' background='dark-green' wide=true -%}
    {%- include block.html background='mountain' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-desktop">
    {%- include block.html background='mountain' -%}
    {%- include block.html background='dark-green' -%}
    {%- include block.html background='darker-green' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='imperfect-circle' hidden='touch' -%}
    {%- include about-block.html title='Our mission' content='**We campaign to put community at the centre of data narratives, practices and policies** by advocating for collective and open data governance' background='darker-green' wide=true -%}
  </div>
{%- endcapture -%}
{%- include section.html content=mission -%}

<section id="plans" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        What we're planning
      </p>
    </div>
  </div>
</section>

{%- capture plans -%}
  {%- assign roadmap = site.resources | where: "reference", "strategic-roadmap-2022-2023" | first -%}
  {%- include resource.html resource=roadmap excerpt=true imagePosition='left' resourceBackground='darkest-green' resourceContrast='darker-green' -%}
  {%- assign toc = site.resources | where: "reference", "theory-of-change-2022" | first -%}
  {%- include resource.html resource=toc excerpt=true imagePosition='right' resourceBackground='darker-green' resourceContrast='dark-green' -%}
{%- endcapture -%}
{%- include section.html content=plans -%}

<section id="values" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we work
      </p>
    </div>
  </div>
</section>

{%- capture values -%}
  <div class="columns is-gapless">
    {%- include block.html background='dark-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We focus on impact' background='darkest-green' -%}
    {%- include block.html background='square' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='dark-green' -%}
    {%- include block.html background='square' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We work in the open' background='dark-green' -%}
    {%- include block.html background='small-triangles' hidden='touch' -%}
    {%- include block.html background='darker-green' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darker-green' -%}
    {%- include block.html background='small-triangles' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='stairs' hidden='mobile' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We collaborate and learn with others' background='darker-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rainbow' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We take care of each other and ourselves' background='darkest-green' -%}
    {%- include block.html background='rainbow' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=values -%}

<section id="team" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Who we are
      </p>
    </div>
  </div>
</section>

{%- capture team -%}
  {%- assign team = site.team | sort: "order" -%}
  {%- for person in team -%}
    {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- capture image -%}
      <div class="icon">
        <figure class="image is-128x128">
          <a href="{{ person.url | relative_url }}">
            <img src="/assets/team/{{ person.picture }}">
          </a>
        </figure>
      </div>
    {%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ person.url | relative_url }}">{{ person.title }}</a></h3>
        <p class="subtitle">{{ person.role }}</p>
      </div>
    {%- endcapture -%}
    {%- capture bio -%}
      <div class="content">
        {{ person.excerpt | markdownify }}
        <p>
          <a href="{{ person.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Read more
          </a>
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile person is-hidden-tablet">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=person.title hidden='tablet' -%}
      {%- endif -%}
      {%- include block.html square=true content=image background=personBackground hidden='tablet' -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=person.title hidden='tablet' -%}
      {%- endif -%}
    </div>
    <div class="columns is-gapless person">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=person.title hidden='touch' -%}
      {%- endif -%}
      {%- include block.html square=true content=image background=personBackground hidden='mobile' -%}
      {%- include block.html short=true content=title background=personBackground -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=person.title hidden='touch' -%}
      {%- endif -%}
    </div>
    <div class="columns is-gapless person">
      {%- if leftright == 'left' -%}
      {%- include block.html square=true background=contrast hidden='touch' -%}
      {%- endif -%}
      {%- include block.html wide=true content=bio background=personBackground -%}
      {%- if leftright == 'right' -%}
      {%- include block.html square=true background=contrast hidden='touch' -%}
      {%- endif -%}
    </div>
  {%- endfor -%}
  {%- assign openJobs = site.jobs | where: "expired", "false" -%}
  {%- capture jobs -%}
    <div class="point">
      <h3 class="title is-4">Open position{%- if openJobs.size > 1 -%}s{%- endif -%}</h3>
    </div>
  {%- endcapture -%}
  {%- if openJobs.size > 0 -%}
    <div id="jobs" class="columns is-gapless job">
      {%- include block.html content=jobs background='darker-green' -%}
      {%- include block.html background='darker-green' hidden='mobile' -%}
      {%- include block.html background='mountain' hidden='touch' -%}
    </div>
  {%- endif -%}
  {%- for job in openJobs -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- capture jobBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ job.url | relative_url }}">{{ job.title }}</a></h3>
        <p class="subtitle">{{ job.subtitle | replace: "<br>", " " }}</p>
        <p>
          <a href="{{ job.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Learn more
          </a>
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile job is-hidden-tablet">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=job.title hidden='tablet' -%}
      {%- endif -%}
      {%- include block.html square=true background=jobBackground hidden='tablet' -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=job.title hidden='tablet' -%}
      {%- endif -%}
    </div>
    <div class="columns is-gapless job">
      {%- if leftright == 'left' -%}
      {%- include random-graphic-block.html seed=job.title hidden='touch' -%}
      {%- endif -%}
      {%- include block.html wide=true content=title background=jobBackground -%}
      {%- if leftright == 'right' -%}
      {%- include random-graphic-block.html seed=job.title hidden='touch' -%}
      {%- endif -%}
    </div>
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=team -%}

<section id="funding" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we are funded
      </p>
    </div>
  </div>
</section>

{%- capture funding -%}
  {%- for funder in site.funders -%}
    {%- capture image -%}
      <div class="subpoint has-background-white">
        <figure class="image">
          <a href="{{ funder.link }}">
            <img src="/assets/funders/{{ funder.image }}">
          </a>
        </figure>
      </div>
    {%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ funder.link }}">{{ funder.title }}</a></h3>
        <div class="subtitle">{{ funder.content }}</div>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile is-hidden-tablet">
      {%- include block.html square=true content=image background='darker-green' hidden='tablet' -%}
      {%- include block.html background='cube' hidden='tablet' -%}
    </div>
    <div class="columns is-gapless">
      {%- include block.html square=true content=image background='darker-green' hidden='mobile' -%}
      {%- include block.html content=title background='darker-green' -%}
      {%- include block.html background='cube' hidden='touch' -%}
    </div>
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=funding -%}

<section id="thanks" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        With thanks...
      </p>
    </div>
  </div>
</section>

{%- capture acknowledgements -%}
  <div class="columns is-gapless">
    {%- include block.html background='darkest-green' hidden='mobile' -%}
    {%- include about-block.html title='<a href="http://philpottdesign.com/">Philpott Design</a>' content='for design elements and support' background='dark-green' -%}
    {%- include block.html background='rhombus' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rhombus' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html title='<a href="https://thenounproject.com/">Noun Project</a>' content='for all icons, used under the Royalty Free licence' background='darkest-green' -%}
    {%- include block.html background='large-dots' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=acknowledgements -%}

</article>
