---
layout: default
---
<script type="text/javascript">
var password;
var pass1="letmesee";
password=prompt('Enter Password',' ');
if (password!=pass1) {
  window.location="https://connectedbydata.org/"
}
</script>

<article>

{%- capture header -%}
<h1 class="title is-1">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture mission -%}
  <div class="columns is-gapless">
    {%- include about-block.html title='Our vision' content='We think organisations and communities should make decisions about data together' background='dark-green' -%}
    {%- include block.html background='mountain' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='mountain' -%}
    {%- include block.html background='dark-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='imperfect-circle' hidden='mobile' -%}
    {%- include block.html background='dark-green' hidden='touch' -%}
    {%- include about-block.html title='Our mission' content='We want to put community at the centre of data narratives, practices and policies' background='darker-green' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=mission -%}

<section id="solutions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we work
      </p>
    </div>
  </div>
</section>

{%- capture values -%}
  <div class="columns is-gapless">
    {%- include block.html background='dark-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We focus on impact' background='darkest-green' -%}
    {%- include block.html background='circles' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='dark-green' -%}
    {%- include block.html background='circles' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We work in the open' background='dark-green' -%}
    {%- include block.html background='small-triangles' hidden='touch' -%}
    {%- include block.html background='darker-green' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darker-green' -%}
    {%- include block.html background='small-triangles' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='stairs' hidden='mobile' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
    {%- include about-block.html short=true title='We collaborate and learn with others' background='darker-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rainbow' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html short=true title='We take care of each other and ourselves' background='darkest-green' -%}
    {%- include block.html background='rainbow' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=values -%}

<section id="solutions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Who we are
      </p>
    </div>
  </div>
</section>

{%- capture team -%}
  {%- for person in site.team -%}
    {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture image -%}
      <div class="icon">
        <figure class="image is-128x128">
          <a href="{{ person.url | relative_url }}">
            <img class="is-rounded" src="/assets/team/{{ person.picture }}">
          </a>
        </figure>
      </div>
    {%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ person.url | relative_url }}">{{ person.title }}</a></h3>
        <p class="subtitle">{{ person.role }}</p>
      </div>
    {%- endcapture -%}
    {%- capture bio -%}
      <div class="content">
        {{ person.excerpt | markdownify }}
        <p>
          <a href="{{ person.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Read more
          </a>
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile person is-hidden-tablet">
      {%- include random-graphic-block.html seed=person.title hidden='tablet' -%}
      {%- include block.html square=true content=image background=personBackground hidden='tablet' -%}
    </div>
    <div class="columns is-gapless person">
      {%- include random-graphic-block.html seed=person.title hidden='touch' -%}
      {%- include block.html square=true content=image background=personBackground hidden='mobile' -%}
      {%- include block.html short=true content=title background=personBackground -%}
    </div>
    <div class="columns is-gapless person">
      {%- include block.html square=true background=contrast hidden='touch' -%}
      {%- include block.html wide=true content=bio background=personBackground -%}
    </div>
  {%- endfor -%}
  {%- capture jobs -%}
    <div class="point">
      <h3 class="title is-4">Open position{%- if site.jobs.size > 1 -%}s{%- endif -%}</h3>
    </div>
  {%- endcapture -%}
  {%- if site.jobs.size > 0 -%}
    <div id="jobs" class="columns is-gapless job">
      {%- include block.html content=jobs background='darker-green' -%}
      {%- include block.html background='darker-green' hidden='mobile' -%}
      {%- include block.html background='mountain' hidden='touch' -%}
    </div>
  {%- endif -%}
  {%- for job in site.jobs -%}
    {%- capture jobBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture title -%}
      <div class="point">
        <h3 class="title is-5"><a href="{{ job.url | relative_url }}">{{ job.title }}</a></h3>
        <p class="subtitle">{{ job.subtitle }}</p>
        <p>
          <a href="{{ job.url | relative_url }}">
            <i class="fas fa-arrow-alt-circle-right"></i>
            &nbsp;Learn more
          </a>
        </p>
      </div>
    {%- endcapture -%}
    <div class="columns is-gapless is-mobile job is-hidden-tablet">
      {%- include random-graphic-block.html seed=job.title hidden='tablet' -%}
      {%- include block.html square=true content=image background=jobBackground hidden='tablet' -%}
    </div>
    <div class="columns is-gapless job">
      {%- include random-graphic-block.html seed=job.title hidden='touch' -%}
      {%- include block.html wide=true content=title background=jobBackground -%}
    </div>
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=team -%}

<section id="solutions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        How we are funded
      </p>
    </div>
  </div>
</section>

{%- capture funding -%}
  {%- capture image -%}
    <div class="subpoint">
      <figure class="image">
        <a href="https://shuttleworthfoundation.org/">
          <img src="/assets/shuttleworth-logo.svg">
        </a>
      </figure>
    </div>
  {%- endcapture -%}
  {%- capture title -%}
    <div class="point">
      <h3 class="title is-5"><a href="https://shuttleworthfoundation.org/">Shuttleworth Foundation</a></h3>
      <p class="subtitle">Jeni is a <a href="https://shuttleworthfoundation.org/fellows/">Shuttleworth Foundation Fellow</a>, which funds her time and contributes $275k to Connected by Data.</p>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html square=true content=image background='darker-green' hidden='tablet' -%}
    {%- include block.html background='cube' hidden='tablet' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html square=true content=image background='darker-green' hidden='mobile' -%}
    {%- include block.html content=title background='darker-green' -%}
    {%- include block.html background='cube' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=funding -%}

<section id="solutions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        With thanks...
      </p>
    </div>
  </div>
</section>

{%- capture acknowledgements -%}
  <div class="columns is-gapless">
    {%- include block.html background='darkest-green' hidden='mobile' -%}
    {%- include about-block.html title='<a href="http://philpottdesign.com/">Philpott Design</a>' content='for design elements and support' background='dark-green' -%}
    {%- include block.html background='rhombus' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='rhombus' -%}
    {%- include block.html background='darkest-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include about-block.html title='<a href="https://thenounproject.com/">Noun Project</a>' content='for all icons, used under the Royalty Free licence' background='darkest-green' -%}
    {%- include block.html background='large-dots' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=acknowledgements -%}

</article>
