<!DOCTYPE html>
<html class="has-background-light" lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include ai-in-education-head.html -%}

  <body>
    {%- include ai-in-education-header.html -%}

    <section class="hero highlight" id="report">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Generative AI for Education Summit: Have Your Say Report</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                <p>In Autumn 2025 over 1000 students provided input to the Generative AI in Education: Have Your Say process, sharing views on how Generative AI should be used in education.</p>  
                <p><a href="/assets/resources/Report%20-%20Jan%2026%20-%20Generative%20AI%20in%20Education_%20Have%20your%20Say%20-%20Student%20Engagement%20Report.pdf">Read the findings here (PDF)</a> | 
                  <a href="https://www.youtube.com/watch?v=-XeNWVqAYqk">Watch the insights video (YouTube)</a> | <a href="https://www.linkedin.com/posts/connectedbydata_genai-in-education-student-views-recommendations-activity-7419057102872178688--aoy">Read/share summary on LinkedIn</a></a></p>  
                     <p>We sat down with a number of students who took part to invite them to share their perspectives on film.</p>  
                <p>
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/-XeNWVqAYqk?si=G6sOFfsXrXNtfj0K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </p>  
                <p>
                  <strong>Update:</strong> Join us on 22nd April at 3pm (London time) on Zoom to learn more about the project, findings, and how you can hold your own dialogue on AI in education. <a href="https://us06web.zoom.us/meeting/register/AB-dY1YLSUWnoNxlc7efIg#/registration">Register here</a>.
                </p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="meetings">
      <div class="container is-max-desktop">
        <h2 class="title"><strong>Workshop in a Box</strong>: Generative AI in Education</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>To gather student inputs for the 2026 Generative AI in Education Summit, hosted by the Department for Education, we created a 'workshop in a box' and feedback portal. </p>
              <p><strong>You can still access the ready-to-teach toolkit in order to run your own short class session giving pupils space to discuss the future of AI in education.</strong></p>
              <p><a href="/ai-in-education/toolkit/">Access the workshop resources here</a></p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <div class="columns">
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>Learn and discuss:</p>
                <ul>
                  <li><strong>What is generative AI?</strong></li>
                  <li><strong>How can it be used in education?</strong></li>
                  <li><strong>What are the benefits and problems of Generative AI in education?</strong></li>
                  <li><strong>What do we want from the people building AI tools and technology?</strong></li>
                </ul>
              </div>
            </div>
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>A free resource:</p>
                <ul>
                  <li><strong>Teacher/facilitator guide & timed lesson plan</strong> (50 & 100 minute versions)</li>
                  <li><strong>Slides & handouts</strong></li>
                  <li><strong>Interactive activities</strong></li>
                  <li><strong>Feedback tools</strong>: capture class and individual views</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <h2 class="title">Independent, informed dialogue</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>
                The Workshop in a Box has been created by <a href="https://connectedbydata.org/">Connected by Data</a> for the Department for Education with input from independent experts on Artificial Intelligence in education. 
              </p>
              <p>
                We believe that children, young people, families and educators all have the right to have a say on the future uses of Artificial Intelligence in education. This resource is here to help you have an informed discussion about the pros and cons of AI: and to develop and share your own views on AI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero" id="faq">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- include ai-in-education-footer.html -%}

  </body>

</html>
