<!DOCTYPE html>
<html class="has-background-light" lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include ai-in-education-head.html -%}

  <body>
    <div class="watermark-draft">DRAFT</div>
    {%- include ai-in-education-header.html -%}

    <section class="hero highlight" id="signup">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Sign up now</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                <p>To get a copy of the Workshop in a Box as soon as it is available early November), and an invite to live and recorded briefings on using it, please register here.</p>
              </div>
              <div class="buttons">
                <a class="button" href="https://airtable.com/appjXCj5YHXHNpVLL/pag6gqEtczfvFB5Yy/form">
                  <span class="icon-text">
                    <span class="icon">
                      <i class="fa-solid fa-hand" aria-hidden="true"></i>
                    </span>
                    <span>REGISTER NOW</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="meetings">
      <div class="container is-max-desktop">
        <h2 class="title"><strong>Have your say</strong>: AI in Education Summit</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>In early 2026, the UK Department for Education will host an international summit on generative AI in education. Education ministers from countries around the world will join with international experts and AI companies to explore how AI tools can be better aligned with the needs of education. To support the summit, the Department for Education wants the views of pupils across the country. </p>
              <p><strong>Use our ready-to-teach toolkit to run a short class session, share feedback via our online portal, and give your pupils a say on the future of AI in education.</strong></p>
              </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <div class="columns">
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>Learn and discuss:</p>
                <ul>
                  <li><strong>What is generative AI?</strong></li>
                  <li><strong>How can it be used in education?</strong></li>
                  <li><strong>What’s good and bad about AI in education?</strong></li>
                  <li><strong>What do we want from the people building AI tools and technology?</strong></li>
                </ul>
              </div>
            </div>
            <div class="column is-half-desktop is-half-fullhd">
              <div class="content is-size-5">
                <p>A free resource:</p>
                <ul>
                  <li><strong>Teacher/facilitator guide & timed lesson plan</strong> (50 & 100 minute versions)</li>
                  <li><strong>Slides & handouts</strong></li>
                  <li><strong>Interactive activities</strong></li>
                  <li><strong>Feedback tools</strong>: capture class and individual views</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <h2 class="title">Independent, informed dialogue</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>
                The Workshop in a Box has been created by <a href="https://connectedbydata.org/">Connected by Data</a> for the Department for Education with input from independent experts on Artificial Intelligence in education. 
              </p>
              <p>
                We believe that children, young people, families and educators all have the right to have a say on the future uses of Artificial Intelligence in education. This resource is here to help you have an informed discussion about the pros and cons of AI: and to develop and share your own views on AI.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero" id="faq">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Frequently Asked Questions</h2>
        </div>
      </div>
    </section>

    <section class="section" id="about">
      <div class="container is-max-desktop">
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- include ai-in-education-footer.html -%}

  </body>

</html>
