---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a class="is-active" href="/{{ page.collection }}">Annual Reports</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{% if page.sections %}
<div id="toc" class="submenu">
  <div class="menu-body">
    <div class="container is-max-desktop">
      <ol>
        {% for section in page.sections %}
          <li><a href="#{{ section | key }}">{{ section | value }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endif %}



{{ content }}



{%- include pagination.html -%}

</article>
