---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a class="is-active" href="/{{ page.collection }}">Annual Reports</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}




{% if page.sections %}
<nav class="navbar is-fixed-top submenu" role="navigation">
  <div class="container is-max-desktop">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="subnav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="subnav" class="navbar-menu">
      <ol class="navbar-start">
        {% for section in page.sections %}
          <li>
            <a class="navbar-item" href="#{{ section | key }}">
              {{ section | value }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</nav>
{% endif %}


{{ content }}


{%- include pagination.html -%}

</article>
