---
layout: default
---

{%- capture header -%}
<div class="columns">
  <div class="column">
    <h1 class="title">Behind the scenes</h1>
    <p class="subtitle">News and views</p>
  </div>
  <div class="column is-narrow">
    <p>
      <a href="{{ "/feed.xml" | relative_url }}">
        <span class="icon is-small">
          <i class="fas fa-rss" aria-hidden="true"></i>
        </span>
        <span>Subscribe via RSS</span>
      </a>
    </p>
  </div>
</div>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture intro -%}
<div class="subtitle">
  {{ content }}
</div>
{%- endcapture -%}
{%- include section.html content=intro -%}

{%- for post in site.posts -%}
  {%- assign author = site.team | where: "title", post.author | first %}
  {%- capture post-content -%}
    <div class="columns">
      <div class="column is-narrow">
        {%- include author-picture.html author=author -%}
      </div>
      <div class="column">
        <h2 class="title is-4">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        <p class="subtitle is-6">
          {%- include author-link.html author=author %}
          &middot;
          {% include date.html date=post.date -%}
        </p>
      </div>
    </div>
    <div class="content">
      {{ post.excerpt }}
    </div>
  {%- endcapture -%}
  {%- include section.html content=post-content -%}
{%- endfor -%}
