---
layout: default
---

{%- capture header -%}
<h1 class="title">Upcoming and previous events</h1>
<p class="subtitle">Presentations, panels and conferences</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- assign upcoming = site.events | where: "upcoming", "true" -%}

{%- assign organising = upcoming | where: "category", "organising" -%}
{%- capture organising-content -%}
  {%- for event in organising -%}
    {%- capture eventBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture eventContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include event.html event=event excerpt=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=organising-content -%}

{%- assign speaking = upcoming | where: "category", "speaking" -%}
{%- if speaking.size > 0 -%}
  <section id="speaking" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Listen to us
        </p>
      </div>
    </div>
  </section>
  {%- capture speaking-content -%}
    {%- for event in speaking -%}
      {%- capture eventBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture eventContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
      {%- include event.html event=event excerpt=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=speaking-content -%}
{%- endif -%}

{%- assign attending = upcoming | where: "category", "attending" -%}
{%- if attending.size > 0 -%}
  <section id="attending" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Bump into us
        </p>
      </div>
    </div>
  </section>

  {%- capture attending-content -%}
    {%- for event in attending -%}
      {%- capture eventBackground -%}{%- cycle 'darker-green', 'darkest-green', 'dark-green' -%}{%- endcapture -%}
      {%- capture eventContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include event.html event=event excerpt=true headingonly=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=attending-content -%}

{%- endif -%}

<section id="previous" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Previous events
      </p>
    </div>
  </div>
</section>

{%- assign previous = site.events | where: "upcoming", "false" -%}
{%- capture previous-content -%}
  {%- for event in previous reversed -%}
    {%- capture eventBackground -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture eventContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include event.html event=event excerpt=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=previous-content -%}
