---
layout: default
---

{%- capture header -%}
<h1 class="title">Fellowship</h1>
<p class="subtitle">People we support and mentor</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture callForFellows -%}
  {%- capture content -%}
    <div class="content">
      {{ page.content | markdownify }}
    </div>
  {%- endcapture -%}

  <div class="columns is-gapless post">
    <div class="column has-nested is-hidden-touch">
      <div class="columns is-gapless">
        {%- include random-graphic-block.html seed=page.content nested=true -%}
        {%- include random-color-block.html seed=page.content square=true nested=true -%}
        {%- include random-color-block.html seed=page.content square=true nested=true -%}
      </div>
    </div>
    {%- include block.html wide=true content=content background=include.postBackground -%}
  </div>
{%- endcapture -%}
{%- include section.html content=callForFellows -%}


<section id="team" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Current fellows
      </p>
    </div>
  </div>
</section>

{%- capture currentFellows -%}
  {%- assign fellows = site.people | where: "roles", "fellow" | sort: "title" -%}
  {%- for fellow in fellows -%}
    {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- include person.html person=fellow personBackground=personBackground contrast=contrast leftright=leftright -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=currentFellows -%}
