---
layout: default
---

{%- capture header -%}
<h1 class="title">Fellowship</h1>
<p class="subtitle">People we support and mentor</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture callForFellows -%}
  {%- capture content -%}
    <div class="content">
      {{ page.content | markdownify }}
    </div>
  {%- endcapture -%}

  <div class="columns is-gapless post">
    <div class="column has-nested is-hidden-touch">
      <div class="columns is-gapless">
        {%- include random-graphic-block.html seed=page.content nested=true -%}
        {%- include random-color-block.html seed=page.content square=true nested=true -%}
        {%- include random-color-block.html seed=page.content square=true nested=true -%}
      </div>
    </div>
    {%- include block.html wide=true content=content background="darkest-green" -%}
  </div>
{%- endcapture -%}
{%- include section.html content=callForFellows -%}


<section id="team" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Current fellows
      </p>
    </div>
  </div>
</section>

{%- capture currentFellows -%}
  {%- assign fellows = site.people | where: "roles", "fellow" | sort: "title" -%}
  {%- for fellow in fellows -%}
    {%- if fellow.roles contains "alumni" -%}
    {%- else -%}
      {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
      {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include person.html person=fellow personBackground=personBackground contrast=contrast leftright=leftright -%}
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=currentFellows -%}

<section id="team" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Former fellows
      </p>
    </div>
  </div>
</section>

{%- capture alumniFellows -%}
  {%- assign fellows = site.people | where: "roles", "fellow" | where: "roles", "alumni" | sort: "title" -%}
  {%- assign seed = fellows | map: "title" | join: "" -%}
  {%- assign seed2 = content -%}
  {%- capture fellowsBlocks -%}
    {%- for fellow in fellows -%}
      {%- capture content -%}
        <div class="subpoint">
          <figure class="image is-128x128">
            <a href="{{ fellow.url }}">
              <img src="/assets/people/{{ fellow.picture }}">
            </a>
          </figure>
          <p class="title is-6">
            <a href="{{ fellow.url }}">{{ fellow.title }}</a>
          </p>
          <p class="subtitle is-7 has-text-white">{{ fellow.role }}</p>
        </div>
      {%- endcapture -%}
      {%- include block.html square=true content=content -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include filler-blocks.html size=fellows.size blocks=fellowsBlocks seed1=seed seed2=seed2 -%}
{%- endcapture -%}
{%- include section.html content=alumniFellows -%}
