---
layout: default
---

<section id="problems" class="hero is-halfheight is-primary has-text-centered">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <h1 class="title is-size-1 is-size-3-mobile">
        We are <br class="is-hidden-tablet">connected by data<br>
        so we need to <br class="is-hidden-tablet">control it together
      </h1>
    </div>
  </div>
</section>

{%- assign impact = site.problems | where:"id", "/problems/impact" | first -%}
{%- assign ownership = site.problems | where:"id", "/problems/ownership" | first -%}
{%- assign connected = site.problems | where:"id", "/problems/connected" | first -%}

{%- capture block1 -%}
  <div class="columns is-gapless">
    {%- include home-block.html section=impact background='dark-green' -%}
    {%- include block.html background='rhombus' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='imperfect-circle' -%}
    {%- include block.html background='dark-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='imperfect-circle' hidden='mobile' -%}
    {%- include block.html background='dark-green' hidden='touch' -%}
    {%- include home-block.html section=ownership background='darker-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darkest-green' -%}
    {%- include block.html background='medium-dots' -%}
  </div>
  <div class="columns is-gapless">
    {%- include home-block.html section=connected background='darkest-green' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
    {%- include block.html background='medium-dots' hidden='mobile' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=block1 -%}

<section id="solutions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        There is a better way
      </p>
    </div>
  </div>
</section>

{%- assign participation = site.solutions | where:"id", "/solutions/participation" | first -%}
{%- assign organisations = site.solutions | where:"id", "/solutions/organisations" | first -%}
{%- assign people = site.solutions | where:"id", "/solutions/people" | first -%}

{%- capture block2 -%}
  <div class="columns is-gapless">
    {%- include block.html background='mountain' hidden='mobile' -%}
    {%- include block.html background='darker-green' hidden='touch' -%}
    {%- include home-block.html section=participation background='darkest-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darkest-green' -%}
    {%- include block.html background='triangle' -%}
  </div>
  <div class="columns is-gapless">
    {%- include home-block.html section=organisations background='darker-green' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
    {%- include block.html background='triangle' hidden='mobile' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='cube' -%}
    {%- include block.html background='dark-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='square' hidden='mobile' -%}
    {%- include home-block.html section=people background='dark-green' -%}
    {%- include block.html background='dark-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=block2 -%}

<section id="actions" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Help us change things
      </p>
    </div>
  </div>
</section>

{%- assign narrative = site.actions | where:"id", "/actions/narrative" | first -%}
{%- assign practice = site.actions | where:"id", "/actions/practice" | first -%}
{%- assign policy = site.actions | where:"id", "/actions/policy" | first -%}

{%- capture block3 -%}
  <div class="columns is-gapless">
    {%- include home-block.html section=narrative background='darkest-green' -%}
    {%- include block.html background='small-triangles' hidden='mobile' -%}
    {%- include block.html background='darkest-green' hidden='touch' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='darkest-green' -%}
    {%- include block.html background='triangle' -%}
  </div>
  <div class="columns is-gapless">
    {%- include block.html background='darker-green' hidden='touch' -%}
    {%- include block.html background='stairs' hidden='mobile' -%}
    {%- include home-block.html section=practice background='dark-green' -%}
  </div>
  <div class="columns is-gapless is-mobile is-hidden-tablet">
    {%- include block.html background='cube' -%}
    {%- include block.html background='dark-green' -%}
  </div>
  <div class="columns is-gapless">
    {%- include home-block.html section=policy background='darker-green' -%}
    {%- include block.html background='circles' hidden='mobile' -%}
    {%- include block.html background='dark-green' hidden='touch' -%}
  </div>
{%- endcapture -%}
{%- include section.html content=block3 -%}

<section class="hero is-halfheight has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Want to get involved?
      </p>
      <div class="breadcrumb has-bullet-separator is-centered">
        <ul>
          <li>
            <a href="https://twitter.com/ConnectedByData">
              <span class="icon is-small">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              <span>Follow us on Twitter</span>
            </a>
          </li>
          <li>
            <a href="mailto:jeni@connectedbydata.org">
              <span class="icon is-small">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
              <span>Email us to tell us what you think</span>
            </a>
          </li>
          <li>
            <a href="https://discord.gg/uZyhRghzsc">
              <span class="icon is-small">
                <i class="fab fa-discord" aria-hidden="true"></i>
              </span>
              <span>Join us on Discord</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
