---
layout: default
---

<section id="problems" class="hero is-halfheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <h1 class="title">
        <span class="is-inline-block is-size-5-mobile">We are</span><br>
        <span class="is-inline-block is-size-1 is-size-3-mobile pl-5">connected by data</span><br>
        <span class="is-inline-block is-size-5-mobile pl-6">so we need to control it together</span>
      </h1>
    </div>
  </div>
</section>

{%- assign impact = site.problems | where:"id", "/problems/impact" | first -%}
{%- assign ownership = site.problems | where:"id", "/problems/ownership" | first -%}
{%- assign connected = site.problems | where:"id", "/problems/connected" | first -%}
{%- include home-section.html section=impact evenodd='odd' -%}
{%- include home-section.html section=ownership evenodd='even' -%}
{%- include home-section.html section=connected evenodd='odd' -%}

<section id="solutions" class="hero is-halfheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        There is a better way
      </p>
    </div>
  </div>
</section>

{%- assign participation = site.solutions | where:"id", "/solutions/participation" | first -%}
{%- assign organisations = site.solutions | where:"id", "/solutions/organisations" | first -%}
{%- assign people = site.solutions | where:"id", "/solutions/people" | first -%}
{%- include home-section.html section=participation evenodd='even' -%}
{%- include home-section.html section=organisations evenodd='odd' -%}
{%- include home-section.html section=people evenodd='even' -%}

<section id="actions" class="hero is-halfheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Help us change things
      </p>
    </div>
  </div>
</section>

{%- assign narrative = site.actions | where:"id", "/actions/narrative" | first -%}
{%- assign practice = site.actions | where:"id", "/actions/practice" | first -%}
{%- assign policy = site.actions | where:"id", "/actions/policy" | first -%}
{%- include home-section.html section=narrative evenodd='odd' -%}
{%- include home-section.html section=practice evenodd='even' -%}
{%- include home-section.html section=policy evenodd='odd' -%}

<section class="hero is-halfheight is-primary">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Want to get involved?
      </p>
      <div class="breadcrumb has-bullet-separator">
        <ul>
          <li>
            <a href="https://twitter.com/ConnectedByData">
              <span class="icon is-small">
                <i class="fab fa-twitter" aria-hidden="true"></i>
              </span>
              <span>Follow us on Twitter</span>
            </a>
          </li>
          <li>
            <a href="mailto:jeni@connectedbydata.org">
              <span class="icon is-small">
                <i class="fas fa-envelope" aria-hidden="true"></i>
              </span>
              <span>Email us to tell us what you think</span>
            </a>
          </li>
          <li>
            <a href="https://discord.gg/uZyhRghzsc">
              <span class="icon is-small">
                <i class="fab fa-discord" aria-hidden="true"></i>
              </span>
              <span>Join us on Discord</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
