---
layout: default
---
<article>

{%- capture breadcrumbs -%}
<li><a href="/#{{ page.collection }}">{{ page.collection | capitalize }}</a></li>
<li class="is-active"><a href="#">{{ page.more | capitalize }}</a></li>
{%- endcapture -%}
{%- include breadcrumbs.html items=breadcrumbs -%}

{%- capture header -%}
<h1 class="title is-1">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- for point in page.points -%}
  {%- capture content -%}
    <div class="block is-size-4 pb-4">
      {{ point.heading | markdownify }}
    </div>

    {%- if point.subpoints -%}
    <div class="columns is-centered has-text-centered">
      {%- for point in point.subpoints -%}
        <div class="column">
          <div class="is-flex is-justify-content-center">
            <figure class="image is-64x64">
              <img src="/assets/nouns/{{ point.icon }}">
            </figure>
          </div>
          {{ point.text | markdownify }}
        </div>
      {%- endfor -%}
    </div>
    {%- endif -%}

    {%- if point.tweet -%}
      <div class="columns is-centered">
        <div class="column is-narrow">
          {{ point.tweet }}
        </div>
      </div>
    {%- endif -%}

    {%- if point.references -%}
      {%- assign rows = point.references | size | plus: 1 | divided_by: 2 -%}
      {%- for row in (1..rows) -%}
        <div class="tile is-ancestor">
          {%- assign offset = row | minus: 1 | times: 2 -%}
          {%- for reference in point.references limit:2 offset:offset  -%}
            {%- assign item = site.literature | where: "reference", reference | first -%}
            {%- include literature.html item=item -%}
          {%- endfor -%}
        </div>
      {%- endfor -%}
    {%- endif -%}

    {%- if point.icons -%}
      <div class="level is-mobile">
        {%- for icon in point.icons -%}
          <div class="level-item">
            <figure class="image is-128x128">
              <img src="/assets/{{ icon }}">
            </figure>
          </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  {%- endcapture -%}
  {%- include section.html content=content -%}
{%- endfor -%}

{%- capture pagination -%}
  <div class="columns is-mobile">
    <div class="column is-half pl-6">
      {%- if page.previous-url -%}
      <a class="" href="{{ page.previous-url | relative_url }}" rel="previous">
        <i class="fas fa-angle-double-left"></i>&nbsp;Previous
      </a>
      {%- endif -%}
    </div>
    <div class="column is-half has-text-right pr-6">
      {%- if page.next-url -%}
      <a href="{{ page.next-url | relative_url }}" rel="next">
        Next&nbsp;<i class="fas fa-angle-double-right"></i>
      </a>
      {%- endif -%}
    </div>
  </div>
{%- endcapture -%}
{%- include section.html content=pagination -%}

</article>
