---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/#{{ page.collection }}">{{ page.collection | capitalize }}</a></li>
    <li class="is-active"><a href="#">{{ page.more | capitalize }}</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- for point in page.points -%}
  {%- assign referencesText = point.references | join: ""  -%}
  {%- capture content -%}
    {%- include random-row.html content=point.heading seed=referencesText -%}

    {%- if point.opinion -%}
      {%- include opinion-row.html content=point.opinion seed=point.heading -%}
    {%- endif -%}

    {%- if point.subpoints -%}
      {%- assign seed = point.subpoints | map: "text" | join: "" -%}
      {%- assign seed2 = point.subpoints | map: "icon" | join: "" -%}
      {%- capture subpointsBlocks -%}
        {%- for point in point.subpoints -%}
          {%- capture content -%}
            <div class="subpoint">
              <figure class="image is-64x64">
                <img src="/assets/nouns/{{ point.icon }}">
              </figure>
              {{ point.text | markdownify }}
            </div>
          {%- endcapture -%}
          {%- include block.html square=true content=content -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- include filler-blocks.html size=point.subpoints.size blocks=subpointsBlocks seed1=seed seed2=seed2 -%}
    {%- endif -%}

    {%- if point.resources -%}
      {%- for ref in point.resources -%}
        {%- assign resource = site.resources | where: "reference", ref | first -%}
        {%- capture resourceBackground -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
        {%- capture resourceContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
        {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
        {%- include resource.html resource=resource excerpt=true headingonly=true imagePosition=imagePosition resourceBackground=resourceBackground resourceContrast=resourceContrast -%}
      {%- endfor -%}
    {%- endif -%}

    <!--
    {%- if point.tweet -%}
      <div class="columns is-gapless">
        <div class="column is-half-fullhd is-half-widescreen is-half-desktop is-two-thirds-tablet">
          {{ point.tweet }}
        </div>
      </div>
    {%- endif -%}
    -->

    {%- if point.references -%}
      {%- for reference in point.references -%}
        {%- capture firstlast -%}{% cycle "firstlast": "first", "last" -%}{%- endcapture -%}
        {%- capture leftright -%}{% cycle "leftright": "left", "right" -%}{%- endcapture -%}
        {%- capture color1 -%}{%- cycle "colors": "dark-green", "darker-green", "darkest-green" -%}{%- endcapture -%}
        {%- capture color2 -%}{%- cycle "colors": "darker-green", "darkest-green", "dark-green" -%}{%- endcapture -%}
        {%- capture graphic -%}{%- cycle "graphic": "no", "yes", "no" -%}{%- endcapture -%}
        {%- assign item = site.literature | where: "reference", reference | first -%}

        {%- include literature.html item=item color=color1 color2=color2 graphic=graphic firstlast=firstlast leftright=leftright -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if point.icons -%}
      {%- assign seed = point.icons | join: "" -%}
      {%- assign seed2 = point.icons | join: "" | split: "" | uniq | join: "" -%}
      {%- capture iconsBlocks -%}
        {%- for icon in point.icons -%}
          {%- capture content -%}
            <div class="icon">
              <figure class="image is-128x128">
                <img src="/assets/{{ icon }}">
              </figure>
            </div>
          {%- endcapture -%}
          {%- include block.html square=true content=content -%}
        {%- endfor -%}
      {%- endcapture -%}
      {%- include filler-blocks.html size=point.icons.size blocks=iconsBlocks seed1=seed seed2=seed2 -%}
    {%- endif -%}

  {%- endcapture -%}
  {%- include section.html content=content -%}
{%- endfor -%}

{%- include pagination.html -%}

</article>
