---
layout: default
---

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/about">About us</a></li>
    <li><a href="/about#team">Team</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <div class="columns">
    <div class="column is-narrow">
      <figure class="image is-128x128">
        <img src="/assets/people/{{ page.picture }}">
      </figure>
    </div>
    <div class="column" style="align-self: center">
      <h1 class="title">
        {{ page.title }}
        {%- assign pronouns = page.pronouns | strip -%}
        {%- if pronouns != '' %} <span class="is-size-6">({{ pronouns }})</span>{%- endif -%}
      </h1>
      <h2 class="subtitle">{{ page.role }}</h2>
    </div>
  </div>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture content -%}
<div class="content">
  {{ content }}
</div>
{%- endcapture -%}

{%- capture metadata -%}
<div class="content">
  {%- if page.mastodon -%}
    {% assign mastodon = page.mastodon | split: '@' %}
  <a rel="me" href="https://{{mastodon[2]}}/@{{mastodon[1]}}" class="icon-text" title="{{ page.mastodon }}">
    <span class="icon">
      <i class="fa-brands fa-mastodon" aria-hidden="true"></i>
    </span>
    <span>@{{ mastodon[1] }}</span>
  </a>
  <br>
  {%- endif -%}
  {%- if page.twitter -%}
  <a href="https://twitter.com/{{page.twitter}}" class="icon-text">
    <span class="icon">
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </span>
    <span>{{ page.twitter }}</span>
  </a>
  <br>
  {%- endif -%}
  {%- if page.bluesky -%}
  {% assign bluesky = page.bluesky | split: '@' %}
<a rel="me" href="https://bsky.app/profile/{{page.bluesky}}" class="icon-text" title="{{ page.bluesky }}">
  <span class="icon">
    <i class="fa-brands fa-bluesky" aria-hidden="true"></i>
  </span>
  <span>@{{ page.bluesky }}</span>
</a>
<br>
{%- endif -%}
  {%- if page.email -%}
  <a href="mailto:{{page.email}}" class="icon-text">
    <span class="icon">
      <i class="fas fa-envelope" aria-hidden="true"></i>
    </span>
    <span>email</span>
  </a>
  {%- endif -%}
</div>
{%- endcapture -%}

{%- capture personContent -%}
  <div class="columns is-gapless post">
    <div class="column has-nested is-hidden-touch">
      <div class="columns is-gapless">
        {%- include random-graphic-block.html seed=page.title nested=true -%}
        {%- include block.html square=true nested=true content=metadata background="darker-green" -%}
        {%- include block.html square=true nested=true background="darker-green" hidden='mobile' -%}
      </div>
    </div>
    {%- include block.html wide=true content=content background="darkest-green" -%}
  </div>
  <div class="columns is-gapless post is-mobile is-hidden-desktop">
    {%- include random-graphic-block.html seed=page.title hidden='desktop' -%}
    {%- include block.html square=true content=metadata background="darker-green" hidden='desktop' -%}
    {%- include block.html square=true nested=true background="darker-green" hidden='mobile' -%}
  </div>
  {%- include topic-tags.html page=page -%}
{%- endcapture -%}

{%- include section.html content=personContent -%}

{%- assign posts = site.posts | where: "author", page.title | slice: 0,20 -%}
{%- assign news = posts | where: "category", "news" -%}
{%- assign opinion = posts | where: "category", "blog" -%}
{%- assign weeknotes = posts | where: "category", "weeknotes" -%}

{%- if news.size > 0 -%}
  <section id="weeknotes" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Recent posts
        </p>
      </div>
    </div>
  </section>
{%- endif -%}

{%- include posts.html news=news opinion=opinion weeknotes=weeknotes -%}
