---
layout: default
---
<script type="text/javascript">
var password;
var pass1="letmesee";
password=prompt('Enter Password',' ');
if (password!=pass1) {
  window.location="https://connectedbydata.org/"
}
</script>

<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/blog">Behind the scenes</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">{{ page.title }}</h1>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture postBackground -%}
  {%- include rand-color.html seed=page.title -%}
{%- endcapture -%}
{%- assign postBackground = postBackground | strip -%}
{%- capture postContrast -%}
  {%- if postBackground == 'dark-green' -%}
    darkest-green
  {%- elsif postBackground == 'darker-green' -%}
    dark-green
  {%- else -%}
    darker-green
  {%- endif -%}
{%- endcapture -%}

{%- include post.html post=page postBackground=postBackground postContrast=postContrast -%}

</article>
