---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/blog">Behind the scenes</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">
    {%- if page.category == "weeknotes" -%}
      Weeknotes {% include date.html date=page.date -%}
    {%- else -%}
      {{ page.title }}
    {%- endif -%}
  </h1>
  {%- if page.category == "weeknotes" -%}
  <h2 class="subtitle">
    {%- assign author = site.team | where: "title", page.author | first %}
    {%- include author-link.html author=author -%}
  </h2>
  {%- endif -%}
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture postBackground -%}
  {%- include rand-color.html seed=page.title -%}
{%- endcapture -%}
{%- assign postBackground = postBackground | strip -%}
{%- capture postContrast -%}
  {%- if postBackground == 'dark-green' -%}
    darkest-green
  {%- elsif postBackground == 'darker-green' -%}
    dark-green
  {%- else -%}
    darker-green
  {%- endif -%}
{%- endcapture -%}

{%- include post.html post=page postBackground=postBackground postContrast=postContrast -%}

{%- include pagination.html -%}

</article>
