---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/projects">Projects</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">
    {{ page.title }}
  </h1>
  <p class="subtitle">
    {{ page.subtitle }}
  </p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture projectBackground -%}
  {%- include rand-color.html seed=page.content -%}
{%- endcapture -%}
{%- assign projectBackground = projectBackground | strip -%}
{%- capture projectContrast -%}
  {%- if projectBackground == 'dark-green' -%}
    darkest-green
  {%- elsif projectBackground == 'darker-green' -%}
    dark-green
  {%- else -%}
    darker-green
  {%- endif -%}
{%- endcapture -%}

{%- capture project -%}
  {%- include project.html project=page projectBackground=projectBackground projectContrast=projectContrast -%}
{%- endcapture -%}
{%- include section.html content=project -%}

{%- assign resources = site.resources | where: "project", page.title -%}
{%- if resources.size > 0 -%}
  <section class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Project reports
        </p>
      </div>
    </div>
  </section>
  {%- capture resourcesSection -%}
    {%- for resource in resources -%}
      {%- capture resourceBackground -%}{%- cycle 'darker-green', 'darkest-green', 'dark-green' -%}{%- endcapture -%}
      {%- capture resourceContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include resource.html resource=resource excerpt=true imagePosition=imagePosition resourceBackground=resourceBackground resourceContrast=resourceContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=resourcesSection -%}
{%- endif -%}

{%- assign events = site.events | where: "project", page.title -%}
{%- if events.size > 0 -%}
  <section class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Events
        </p>
      </div>
    </div>
  </section>
  {%- capture eventsSection -%}
    {%- for event in events -%}
      {%- capture eventBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture eventContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
      {%- include event.html event=event excerpt=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=eventsSection -%}
{%- endif -%}

{%- assign posts = site.posts | where: "projects", page.title -%}
{%- assign news = posts | where: "category", "news" -%}
{%- assign opinion = posts | where: "category", "blog" -%}
{%- assign weeknotes = posts | where: "category", "weeknotes" -%}
{%- if posts.size > 0 -%}
  {%- if news.size > 0 -%}
    <section class="hero has-text-centered has-text-link">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <p class="title">
            Recent posts
          </p>
        </div>
      </div>
    </section>
  {%- endif -%}
  {%- include posts.html news=news opinion=opinion weeknotes=weeknotes -%}
{%- endif -%}

</article>
