---
layout: default
---

{%- capture header -%}
<h1 class="title">Projects</h1>
<p class="subtitle">Work we're involved in</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- assign currentProjects = site.projects | where: "completed", false -%}
{%- assign completedProjects = site.projects | where: "completed", true -%}

{%- capture projects -%}
  {%- for project in currentProjects -%}
    {%- capture projectBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture projectContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include project.html project=project excerpt=true imagePosition=imagePosition projectBackground=projectBackground projectContrast=projectContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=projects -%}

<section id="completed" class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Completed projects
      </p>
    </div>
  </div>
</section>

{%- capture projects -%}
  {%- for project in completedProjects -%}
    {%- capture projectBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture projectContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include project.html project=project excerpt=true imagePosition=imagePosition projectBackground=projectBackground projectContrast=projectContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=projects -%}
