---
layout: default
---

{%- capture header -%}
<h1 class="title">Projects</h1>
<p class="subtitle">Work we're involved in</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture projects -%}
  {%- for project in site.projects -%}
    {%- capture projectBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture projectContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include project.html project=project excerpt=true imagePosition=imagePosition projectBackground=projectBackground projectContrast=projectContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=projects -%}
