---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/projects">Projects</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">
    {{ page.title }}
  </h1>
  <p class="subtitle">
    {{ page.subtitle }}
  </p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture projectBackground -%}
  {%- include rand-color.html seed=page.content -%}
{%- endcapture -%}
{%- assign projectBackground = projectBackground | strip -%}
{%- capture projectContrast -%}
  {%- if projectBackground == 'dark-green' -%}
    darkest-green
  {%- elsif projectBackground == 'darker-green' -%}
    dark-green
  {%- else -%}
    darker-green
  {%- endif -%}
{%- endcapture -%}

{%- capture project -%}
  {%- include project.html project=page projectBackground=projectBackground projectContrast=projectContrast -%}
{%- endcapture -%}
{%- include section.html content=project -%}

{%- if page.resources -%}
  <section id="drafts" class="hero has-text-centered has-text-link">
    <div class="hero-body">
      <div class="container is-max-desktop">
        <p class="title">
          Project reports
        </p>
      </div>
    </div>
  </section>
{%- capture resources -%}
  {%- for resourceRef in page.resources -%}
    {%- assign resource = site.resources | where: "reference", resourceRef | first -%}
    {%- capture resourceBackground -%}{%- cycle 'darker-green', 'darkest-green', 'dark-green' -%}{%- endcapture -%}
    {%- capture resourceContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
    {%- include resource.html resource=resource excerpt=true imagePosition=imagePosition resourceBackground=resourceBackground resourceContrast=resourceContrast -%}
  {%- endfor -%}
{%- endcapture -%}
{%- include section.html content=resources -%}
{%- endif -%}

</article>
