---
layout: default
---

{%- capture header -%}
<h1 class="title">Topics</h1>
<p class="subtitle">Areas we're interested in</p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- capture sectorSection -%}
  {%- capture content -%}
    <div class="point">
      <h3 class="title is-4">Sectors</h3>
      <h4 class="subtitle">Places where data and AI get used</h4>
    </div>
  {%- endcapture -%}
  <div class="columns is-gapless">
    {%- include block.html background='dark-green' hidden='mobile' -%}
    {%- include block.html content=content background='dark-green' -%}
    {%- include block.html background='medium-dots' hidden='touch' -%}
  </div>
  {%- include sector-blocks.html -%}
{%- endcapture -%}
{%- include section.html content=sectorSection -%}

<section class="hero has-text-centered has-text-link">
  <div class="hero-body">
    <div class="container is-max-desktop">
      <p class="title">
        Other topics
      </p>
    </div>
  </div>
</section>

{%- capture otherTopics -%}
{%- for topic in site.topics -%}
  {%- if topic.category != 'sector' -%}
    {%- capture topicBackground -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
    {%- capture topicContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
    {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
    {%- include topic.html topic=topic excerpt=true headingonly=true imagePosition=imagePosition topicBackground=topicBackground topicContrast=topicContrast -%}
  {%- endif -%}
{%- endfor -%}
{%- endcapture -%}
{%- include section.html content=otherTopics -%}