---
layout: default
---
<article>

{%- capture header -%}
  {%- capture breadcrumbs -%}
    <li><a href="/topics">Topics</a></li>
  {%- endcapture -%}
  {%- include breadcrumbs.html items=breadcrumbs -%}
  <h1 class="title is-1 is-size-3-mobile">
    {{ page.title }}
  </h1>
  <p class="subtitle">
    {{ page.subtitle }}
  </p>
{%- endcapture -%}
{%- include header.html content=header -%}

{%- assign resources = site.resources | where: "topics", page.title | sort: "date" | reverse -%}
{%- assign projects = site.projects | where: "topics", page.title -%}
{%- assign fellows = site.people | where: "roles", "fellow" | where: "topics", page.title -%}
{%- assign events = site.events | where: "topics", page.title -%}
{%- assign posts = site.posts | where: "topics", page.title -%}
<div class="tabs is-centered is-large">
  <ul>
    {%- if resources.size > 0 -%}<li><a href="#resources">Resources</a></li>{%- endif -%}
    {%- if projects.size > 0 -%}<li><a href="#projects">Projects</a></li>{%- endif -%}
    {%- if fellows.size > 0 -%}<li><a href="#fellows">Fellows</a></li>{%- endif -%}
    {%- if events.size > 0 -%}<li><a href="#events">Events</a></li>{%- endif -%}
    {%- if posts.size > 0 -%}<li><a href="#posts">Posts</a></li>{%- endif -%}
  </ul>
</div>

{%- capture topicBackground -%}
  {%- include rand-color.html seed=page.content -%}
{%- endcapture -%}
{%- assign topicBackground = topicBackground | strip -%}
{%- capture topicContrast -%}
  {%- if topicBackground == 'dark-green' -%}
    darkest-green
  {%- elsif topicBackground == 'darker-green' -%}
    dark-green
  {%- else -%}
    darker-green
  {%- endif -%}
{%- endcapture -%}

{%- capture topic -%}
  {%- include topic.html topic=page topicBackground=topicBackground topicContrast=topicContrast -%}
{%- endcapture -%}
{%- include section.html content=topic -%}

{%- if resources.size > 0 -%}
  {%- include topic-tabs.html active="resources" resources=resources projects=projects fellows=fellows events=events posts=posts -%}

  {%- capture resourcesSection -%}
    {%- for resource in resources -%}
      {%- capture resourceBackground -%}{%- cycle 'darker-green', 'darkest-green', 'dark-green' -%}{%- endcapture -%}
      {%- capture resourceContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include resource.html resource=resource excerpt=true imagePosition=imagePosition resourceBackground=resourceBackground resourceContrast=resourceContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=resourcesSection -%}
{%- endif -%}

{%- if projects.size > 0 -%}
  {%- include topic-tabs.html active="projects" resources=resources projects=projects fellows=fellows events=events posts=posts -%}

  {%- capture projectsSection -%}
    {%- for project in projects -%}
      {%- capture projectBackground -%}{%- cycle 'darker-green', 'darkest-green', 'dark-green' -%}{%- endcapture -%}
      {%- capture projectContrast -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include project.html project=project excerpt=true imagePosition=imagePosition projectBackground=projectBackground projectContrast=projectContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=projectsSection -%}
{%- endif -%}

{%- if fellows.size > 0 -%}
  {%- include topic-tabs.html active="fellows" resources=resources projects=projects fellows=fellows events=events posts=posts -%}

  {%- capture fellowsSection -%}
    {%- for fellow in fellows -%}
      {%- capture personBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture contrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
      {%- capture leftright -%}{%- cycle 'left', 'right' -%}{%- endcapture -%}
      {%- include person.html person=fellow personBackground=personBackground contrast=contrast leftright=leftright -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=fellowsSection -%}
{%- endif -%}

{%- if events.size > 0 -%}
  {%- include topic-tabs.html active="events" resources=resources projects=projects fellows=fellows events=events posts=posts -%}

  {%- capture eventsSection -%}
    {%- for event in events reversed -%}
      {%- capture eventBackground -%}{%- cycle 'dark-green', 'darker-green', 'darkest-green' -%}{%- endcapture -%}
      {%- capture eventContrast -%}{%- cycle 'darkest-green', 'dark-green', 'darker-green' -%}{%- endcapture -%}
      {%- capture imagePosition -%}{%- cycle 'right', 'left' -%}{%- endcapture -%}
      {%- include event.html event=event excerpt=true imagePosition=imagePosition eventBackground=eventBackground eventContrast=eventContrast -%}
    {%- endfor -%}
  {%- endcapture -%}
  {%- include section.html content=eventsSection -%}
{%- endif -%}

{%- assign news = posts | where: "category", "news" -%}
{%- assign opinion = posts | where: "category", "blog" -%}
{%- assign weeknotes = posts | where: "category", "weeknotes" -%}
{%- if posts.size > 0 -%}
  {%- include topic-tabs.html active="posts" resources=resources projects=projects fellows=fellows events=events posts=posts -%}

  {%- if news.size > 0 -%}
    <section class="hero has-text-centered has-text-link">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <p class="title">
            Recent news
          </p>
        </div>
      </div>
    </section>
  {%- endif -%}
  {%- include posts.html news=news opinion=opinion weeknotes=weeknotes -%}
{%- endif -%}

</article>
